<!-- <div ng-class="modalAlert.type">
  <a href="#" ng-click="modalAlert.click($event)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong ng-if="modalAlert.html" ng-bind-html="modalAlert.html"></strong>
</div>
</div> -->

<!--
<modalalert></modalalert> -->
<div class="modal-header">
  <a href="#" ng-click="modalAlert.click($event)" class="close" data-dismiss="alert" aria-label="close"><i class="mdi mdi-close"></i></a>
    <h3 ng-if="modalAlert.title == 'Warning'"  class="modal-title"><i class="mdi mdi-alert-outline mdi-36px"></i>&nbsp;{{modalAlert.title}}</h3>
    <h3 ng-if="modalAlert.title == 'Success'"  class="modal-title"><i class="mdi mdi-check mdi-24px"></i>&nbsp;{{modalAlert.title}}</h3>
    <h3 ng-if="modalAlert.title == 'Info'"  class="modal-title"><i class="mdi mdi-information" aria-hidden="true"></i>&nbsp;{{modalAlert.title}}</h3>
    <button type="button" ng-click="modalAlert.click($event)" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
  <h3><strong ng-if="modalAlert.html" ng-bind-html="modalAlert.html"></strong></h3>
</div>
