<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid col-sm-12">
    <div class="col-sm-6">
      <h3> Role:<strong class="text-capitalize">{{$resolve.job.title}}</strong</h3>
        <!-- <small>  {{$resolve.jobId}}</small></h1> -->
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="jobs.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <!-- <button class="btn btn-link" ><i class="fa fa-pencil fa-lg text-primary"></i></button> -->
          <!-- <button class="btn btn-link" ng-click="$ctrl.deleteJob($resolve.job)"><i class="fa fa-trash fa-lg text-danger"></i></button> -->
        </div>
      </h1>
    </div>
  </div>

  <div class="col-sm-12 jumbotron">
    <form name="myForm">
      <div class="col-sm-12">
        <label for="title"><span class="required"> Job Title</span></label>
        <input type="text" class="form-control" id="title" name="title" ng-model="$resolve.job.title" ng-required="true">
        <span style="color:red" ng-if="myForm.title.$error.required && $ctrl.submitted">Title is required.</span>
      </div>
      <div class="col-sm-12">
        <label for="description">Job Description</label>
        <!-- <textarea type="text" class="form-control" id="description" name="description" ng-model="$resolve.job.description" ng-required="true" ></textarea> -->
        <!-- <span style="color:red" ng-if="myForm.description.$error.required && $resolve.submitted">description is required.</span> -->
        <ng-quill-editor id="description" name="description" ng-model="$resolve.job.description">
          <div class="ql-toolbar ql-snow"></div>
        </ng-quill-editor >

      </div>
      <div class="col-sm-6">
        <label for="keywords"><span class="required">Keywords</span></label>
        <input type="text" class="form-control"  id="Keyword" name="Keyword" ng-model="$resolve.job.keyword" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.Keyword.$error.required && $ctrl.submitted">skills is required.</span>

      </div>
      <div class="col-sm-6">
        <label for="cn"><span class="required">Company_Name</span></label>
        <input type="text" class="form-control"  id="cn" name="cn" ng-model="$resolve.job.cn" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.cn.$error.required && $ctrl.submitted">Company_Name is required.</span>
      </div>
      <div class="col-sm-6">
        <label for="annual"><span class="required">Annual_CTC</span></label>
        <input type="number" class="form-control"  name="annual" id="annual" ng-model="$resolve.job.annual" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.annual.$error.required && $ctrl.submitted">annual is required.</span>


      </div>
      <div class="col-sm-6">
        <label for="nov"><span class="required">No_Of_Vacancies</span></label>
        <input type="number" class="form-control"  name="nov" id="nov" ng-model="$resolve.job.nov" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.nov.$error.required && $ctrl.submitted">nov is required.</span>

      </div>
      <div class="col-sm-6">
        <label for="type"><span class="required">Job_Type</span></label>
        <input type="text" class="form-control"  name="type" id="type" ng-model="$resolve.job.type" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.type.$error.required && $ctrl.submitted">type is required.</span>

      </div>
      <div class="col-sm-6">
        <label for="np"><span class="required">Notice_Period</span></label>
        <input type="number" class="form-control"  name="np" id="np" ng-model="$resolve.job.np" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.np.$error.required && $ctrl.submitted">np is required.</span>

      </div>
      <div class="col-sm-6">
        <label for="experience"><span class="required">Work Experience</span></label>
        <input type="text"  class="form-control"  id="experience" name="experience" ng-model="$resolve.job.experience" ng-required="true" ></input>
        <span style="color:red" ng-if="myForm.experience.$error.required && $ctrl.submitted">Experience is required.</span>

      </div>
      <div class="col-sm-6">
        <label for="industry"><span class="required">Industry</span></label>
        <input type="text" class="form-control"  id="industry" name="industry" ng-model="$resolve.job.industry" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.industry.$error.required && $ctrl.submitted">Industry is required.</span>

      </div>
      <div class="col-sm-6">
        <label for="role"><span class="required">Job_Role</span></label>
        <input type="text" class="form-control"  id="role" name="role" ng-model="$resolve.job.role" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.role.$error.required && $ctrl.submitted">Job-Role is required.</span>

      </div>
      <div class="col-sm-6">
        <label for="location"><span class="required">Location</span></label>
        <input type="text" class="form-control"  name="location" id="location" ng-model="$resolve.job.location" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.location.$error.required && $ctrl.submitted">location is required.</span>

      </div>

      <div class="col-sm-6">
        <label for="area"><span class="required">Functional Area</span></label>
        <input type="text" class="form-control"  name="area" id="area" ng-model="$resolve.job.area" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.area.$error.required && $ctrl.submitted">Functional_Area is required.</span>

      </div>
    </form>
    <div  class="col-sm-12" class="form-group" style="margin:12px">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ui-sref="jobs.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateJob(myForm,$resolve.job)">Save</button>
      </div>
    </div>
  </div>
</div>
