<div class="col-sm-2">
  </div>
<div class="col-sm-8 container">
    <div class=" panel panel-primary">
    <div class="panel panel-heading">

    <h1>Assigne</h1>
  </div>
  <!-- <div class="panel panel-default">
    <div class="panel panel-primary">
      <div class="panel-heading"> -->
      <div class="panel-body">
<div class="col-sm-8" class="form-group">
  <label for="Assigne" class="text-muted"><span class="required">Assigne</span></label>
  <ui-select name="Assigne" ng-model="$ctrl.newticket.Assigne" theme="bootstrap" ng-required ="true">
    <ui-select-match placeholder="Select or search a Assigne in the list...">{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="Assigne in $ctrl.Assigne | filter: $select.search">
      <div ng-bind-html="Assigne | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <span style="color:red" ng-show="myForm.Assigne.$touched && myForm.Assigne.$invalid">Assigne is required.</span>
</div>
</div>
<div class="panel-footer clearfix">
<div  class="col-sm-12" class="form-group">
  <div class="btn-group pull-right">
  <button type="button" class="btn btn-default" ui-sref="ticket.list" >Discard</button>
  <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ui-sref="ticket.info">Save</button>
</div>
</div>
</div>

<!-- </div>
</div>
</div> -->
</div>
</div>
<div class="col-sm-2">
  </div>
