<div class="container-fluid">
    <div class="col-sm-6 nopadding">
      <h1 class="text-right">Department</h1>
        <!-- {{$resolve.departments.name}}</strong><small>{{$resolve.departments.id}}</small> -->
    </div>
    <div class="col-sm-6 btn-group nopadding">
      <h1 class="text-right">
          <button class="btn btn-link" ui-sref="departments.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ui-sref="departments.edit({departmentsId:$resolve.departmentsId})"><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteDepartments($resolve.departments)"><i class="fa fa-trash fa-lg text-danger"></i></button>
      </h1>
    </div>
  </div class="col-sm-12">
  <form>
    <!-- <div class="col-sm-12">
      <label for="title">Departments</label>
      <input type="text" class="form-control" id="title" ng-model="$resolve.job.title" ng-disabled="true">
    </div> -->
    <div class="col-sm-6">
      <label for="title">Department name</label>
      <input type="text" class="form-control" id="departments name" ng-model="$resolve.departments.name" ng-disabled="true">
    </div>
    <div class="col-sm-6">
      <label for="title">Department id</label>
      <input type="text" class="form-control" id="departmentsid" ng-model="$resolve.departments.id" ng-disabled="true">
    </div>
    <div class="col-sm-12">
      <label for="title">Department summary</label>
      <input type="text" class="form-control" id="departments summary" ng-model="$resolve.departments.summary" ng-disabled="true">
    </div>
  </form>
</div>
</div>
