<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Templates <span class="badge"> {{$ctrl.templates.length}}</span></h1>
      </div>
      <div class="col-sm-6">
        <h1 class="text-right"><button class="btn btn-link" ui-sref="templates.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" ng-repeat="template in $ctrl.templates">
        <div class=" panel panel-default">
          <div class="text-center panel-heading" >
            <h3 class="text-capitalize text-primary">{{template.templatename}}</h3>
          </div>
          <!-- <div class="text-center panel-body">
          <p class="lead"ng-bind-html="template.cname">{{template.cname}}</p>
          </div> -->
          <!-- <div class="text-center panel-body">
          <p class="lead"ng-bind-html="template.description">{{template.description}}</p>
          </div> -->
          <div class="text-center ">
            <a class="btn btn-link " ui-sref="templates.info({templateId:  template._id})"  uib-tooltip="{{template.templatename}}">Info</a>
          </div>
        </div>
      </div>
    </div>
</div>
