<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="page-header" style="color:green;"> Jobs-Info </h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="jobs.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" ng-repeat="job in $ctrl.jobs">
      <div class=" panel panel-default">
        <div class="text-center panel-heading" >
          <h3 class="text-capitalize text-primary">{{job.cn}}&nbsp<i class="glyphicon glyphicon-share"></i></h3>
        </div>
        <div class="text-left  panel-body">
          <h4 class="text-muted">Title:</h4><p class="lead">{{job.title}}</p>
          <!-- <h4 class="text-muted">Description:</h4><p class="lead">{{job.description}}</p> -->
          <h4 class="text-muted">Role:</h4><p class="lead">{{job.role}}</p>
          <h4 class="text-muted">Location:</h4><p class="lead">{{job.location}}</p>
          <!-- <h4 class="text-muted">NoticePeriod:</h4><p class="lead">{{job.np}}</p>
          <h4 class="text-muted">No.Of.Vacancies:</h4><p class="lead">{{job.nov}}</p> -->
        </div>
        <div class="text-center panel-footer">
          <a class="btn btn-link " ui-sref="jobs.info({jobId:  job._id})" uib-tooltip="{{jobs.name}}"><h4 style="font-size:30px">Info</h4></a>
        </div>
        <div class="col-sm-12">
        <button type="button" class="btn btn-success btn-md"style="margin:15px" ui-sref="candidates.new" >Apply</button>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" ng-if="!$ctrl.jobs.length">
    <div class="row text-center">
      <h1 class="text-warning">Ooops!</h1>
      <p class="text-muted lead">No data to display.</h1>
    </div>
  </div>
