<div class="container-fluid">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <h1> Department:<strong class="text-capitalize">{{$resolve.departments.name}}</strong><small>  {{$resolve.departmentsId}}</small></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="departments.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <!-- <button class="btn btn-link" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteDepartment($resolve.department)"><i class="fa fa-trash fa-lg text-danger"></i></button> -->
        </div>
      </h1>
    </div>
  </div>

  <div class="col-sm-12">
    <form >
      <div class="col-sm-6">
        <label for="id">Department name</label>
        <input type="text" class="form-control" id="title" ng-model="$resolve.departments.name" >
      </div>
      <div class="col-sm-6">
        <label for="description">Department Id</label>
        <textarea type="text" class="form-control" id="description" ng-model="$resolve.departments.id" ></textarea>
        </div>
        <div class="col-sm-12">
          <label for="summary">Department summary</label>
          <textarea type="text" class="form-control" id="description" ng-model="$resolve.departments.summary" ></textarea>
          </div>
          <!-- <div class="col-sm-12">
          <div class="btn-group pull-right">
           <button type="button" class="btn btn-link" ui-sref="departments.list" >Discard</button>
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addDepartments()">Save</button>
    </div> -->
  </form>
</div>
