

<div class="container-fluid">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <h1> Leave Request:<strong class="text-capitalize">{{$resolve.leaverequest.name}}</strong><small>{{$resolve.leaverequestId}}</small></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="leaverequest.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ui-sref="leaverequest.edit({leaverequestId:$resolve.leaverequestId})"><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$resolve.deleteleaverequest($resolve.leaverequestId)"><i class="fa fa-trash fa-lg text-danger"></i></button>
        </div>
      </h1>
    </div>
  </div>

  <div class="col-sm-12">
    <form name="myForm">
      <div class="col-sm-6">
        <!-- <div  class="col-sm-12" class="form-group"> -->
        <label for="empname" class="text-muted"><span class="required"> Employee Name</span></label>
        <input type="text" class="form-control" id="empname" name="empname" ng-model="$resolve.leaverequest.empname" ng-disabled ="true" >

      </div>
      <div class="col-sm-6">
        <label for="empId" class="text-muted"><span class="required"> Employee Id</span></label>
        <input type="text" class="form-control" id="empId" name="empId" ng-model="$resolve.leaverequest.empId" ng-disabled ="true" >
      </div>
      <div class="col-sm-6">
        <label for="department" style="padding-top:8px"class="text-muted"><span class="required">Department</span></label>
        <input type="text" class="form-control" id="department" name="department" ng-model="$resolve.leaverequest.department" ng-disabled="true">
      </div>
      <div class="col-sm-6">
        <label for="leavetype" style="padding-top:8px"class="text-muted"><span class="required">Leave type</span></label>
        <input type="text" class="form-control" id="leavetype" name="leavetype" ng-model="$resolve.leaverequest.leavetype" ng-disabled="true">
      </div>

      <div class="col-sm-6">
        <label for="Employeestatus" style="padding-top:8px"class="text-muted"><span class="required">Employee Status</span></label>
        <input type="text" class="form-control" id="employeestatus" name="employeestatus" ng-model="$resolve.leaverequest.employeestatus" ng-disabled="true">
      </div>
      <div class="col-sm-6" >
        <div class="col-sm-4"style="margin-top:10px">
          <label for="Fromdate"<span class="required"class="text-muted">From Date</span></label>
          <datetimepicker hidden-time="true" id="from" name="from" date-format="dd-MM-yyyy"  ng-model="$resolve.leaverequest.from" placeholder="dd-MM-yyyy"
          ng-disabled="true"></datetimepicker>
        </div>
        <div class="col-sm-4"style="margin-top:10px">
          <label for="Todate" ><span class="required"class="text-muted">To Date</span></label>
          <datetimepicker hidden-time="true" id="to" name="to" date-format="dd-MM-yyyy"  ng-model="$resolve.leaverequest.to" placeholder="dd-MM-yyyy"
          ng-disabled="true"></datetimepicker>
        </div>
        <div class="col-sm-4">
          <label for="noofdays" style="padding-top:8px"class="text-muted"><span class="required">Leave No Of Days</span></label>
          <input type="number" class="form-control" id="noofdays" name="noofdays" ng-model="$resolve.newleaverequest.noofdays" ng-click="$ctrl.dateDifference($ctrl.from, $ctrl.to)"
          placeholder="Enter No Of Days." ng-disabled ="true">
        </div>
      </div>
      <div class="col-sm-12">
        <label for="leavemessage" style="padding-top:8px"class="text-muted"><span class="required">Leave Reason</span></label>
        <input type="text" class="form-control" id="leavemessage" name="leavemessage" ng-model="$resolve.leaverequest.leavemessage" ng-disabled="true">
      </div>
      <div class="col-sm-12">
        <label for="leave Accrue Enabled:" style="padding-top:15px" id="leaveAccrueEnabled:"  class="text-muted"><span class="required">Leave Accrue Enabled:</span></label>
        <label><input type="radio" ng-model="$resolve.newleaverequest.leaveAccrueEnabled" value="Yes"ng-disabled="true" />Yes</label>
        <label><input type="radio" ng-model="$resolve.newleaverequest.leaveAccrueEnabled"value="No" ng-disabled="true"/>No</label>
      </div>
      <div class="col-sm-12">
        <label for="Leave Carried Forward" style="padding-top:15px" id="leaveCarriedForward:"  class="text-muted"><span class="required">Leave Carried Forward:</span></label>
        <label><input type="radio" ng-model="$resolve.newleaverequest.leaveCarriedForward" value="Yes" ng-disabled="true" />Yes </label>
        <label><input type="radio" ng-model="$resolve.newleaverequest.leaveCarriedForward"value="No" ng-disabled="true" />No</label>
      </div>
      <div class="col-sm-6">
        <label for="leavestatus" style="padding-top:8px"class="text-muted"><span class="required">Leave Status</span></label>
        <input type="text" class="form-control" id="leavestatus" name="leavestatus" ng-model="$resolve.leaverequest.leavestatus" ng-disabled="true">
      </div>
      <div class="col-sm-6">
        <label for="appprovedby" style="padding-top:8px" class="text-muted"><span class="required">Appproved By</span></label>
        <input type="text" class="form-control" id="appprovedby" name="appprovedby" ng-model="$resolve.leaverequest.appprovedby" ng-disabled="true">

      </div>

    </form>
  </div>
