<div class="container-fluid">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <!-- <h1> <strong class="text-capitalize">{{$resolve.employee.name}}</strong><small>  {{$resolve.employeeId}}</small></h1> -->
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="employees.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteEmployee($resolve.employee)"><i class="fa fa-trash fa-lg text-danger"></i></button>
        </div>
      </h1>
    </div>
  </div>

  <div class="container-fluid" >
    <div class="col-sm-12">
      <h1> Edit Employee:</h1>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12 ">
        <form name="myForm">
          <div class="col-sm-6">
            <label for="title"id="info"class="text-muted">Joining Date</label>
            <input type="date" class="form-control" name="joiningdate" id="title" ng-model="$resolve.newemployee.joiningdate" ng-required ="true">
          </div>
          <div class="col-sm-6">
            <label for="fname" id="info"class="text-muted"> First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" ng-model="$resolve.employee.fname" placeholder="FirstName." ng-required ="true">

          </div>
          <div class="col-sm-6">
            <label for="mname" id="info"class="text-muted"> Middle Name</label>
            <input type="text" class="form-control" id="mname" name="mname" ng-model="$resolve.employee.mname" placeholder="MiddleName." ng-required="true">
            <!-- <span style="color:red" ng-if="myForm.mname.$error.required && $ctrl.submitted">Middlename required. -->
          </div>
          <div class="col-sm-6">
            <label for="lname"id="info" class="text-muted">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" ng-model="$resolve.employee.lname" placeholder="LastName." ng-required="true">

          </div>
          <div class="col-sm-6">
            <label for="primaryemail" id="info"class="text-muted"> Primary Email</label>
            <input type="text" class="form-control" id="primaryemail" name="primaryemail" ng-model="$resolve.employee.primaryemail" placeholder="Email." ng-required="true">

          </div>
          <div class="col-sm-6">
            <label for="secondaryemail" id="info"class="text-muted"> Secondary Email</label>
            <input type="text" class="form-control" id="secondaryemail" name="secondaryemail" ng-model="$resolve.employee.secondaryemail" placeholder="Email." ng-required="true">

          </div>
          <div class="col-sm-6">
            <label for="mobile"id="info" class="text-muted"> Mobile Number</label>
            <input type="number" class="form-control" id="mobile" name="mobile" ng-model="$resolve.employee.mobile" placeholder="Mobile." ng-required="true">

          </div>
          <div class="col-sm-6">
            <label for="mobilenumber" id="info"class="text-muted"> Secondary Mobilenumber</label>
            <input type="number" class="form-control" id="mobilenumber" name="mobilenumber" ng-model="$resolve.employee.mobilenumber" placeholder="Mobile." ng-required="true">

          </div>
          <div class="col-sm-6">
            <label for="dob"id="info"class="text-muted"ng-init="$resolve.employee.dob = $ctrl.getConvertDate($resolve.employee.dob)">DateofBirth</label>
            <input type="date" class="form-control" name="From" id="dob" ng-model="$resolve.employee.dob" placeholder="DOB" ng-required="true">

          </div>
          <div class="col-sm-6">
            <label for="gender"id="info" class="text-muted">Gender</label></br>
           <label><input type="radio" ng-model="$resolve.employee.gender" value="Male"ng-required="true" />Male</label>
        <label><input type="radio" ng-model="$resolve.employee.gender "value="Female"ng-required="true" />Female</label>
        <label><input type="radio" ng-model="$resolve.employee.gender" value="Transgender" ng-required="true"/>Transgender</label><br />

      </div>
        </form >
      </div>

    </div>
        <div class="col-sm-12">
          <h3>Basic Information:</h3>
        <form name="myForm">

        <div class="col-sm-6">
        <!-- <div  class="col-sm-12" class="form-group"> -->
          <label for="title"id="info" class="text-muted"> Employee Id</label>
          <input type="text" class="form-control" id="title" name="empId" ng-model="$resolve.employee.empId" placeholder="Employee Id." ng-required="true">

        </div>
        <div class="col-sm-6">
        <label for="fathername"id="info" class="text-muted"> Father Name</label>
        <input type="text" class="form-control" id="fathername" name="fathername" ng-model="$resolve.employee.fathername" placeholder="FatherName." ng-required="true">

        </div>
        <div class="col-sm-6">
        <label for="title" id="info"class="text-muted"> Pan</label>
        <input type="text" class="form-control" id="title" name="panId" ng-model="$resolve.employee.panId" placeholder="pan id." ng-required="true">

        </div>
        <div class="col-sm-6">
        <label for="title"id="info" class="text-muted"> Nationality</label>
        <input type="text" class="form-control" id="title" name="nationality" ng-model="$resolve.employee.nationality" placeholder="nationality." ng-required="true">

        </div>
        <div class="col-sm-6">
        <label for="title" id="info"class="text-muted"> Aadhar Number</label>
        <input type="number" class="form-control" id="title" name="aadhar" ng-model="$resolve.employee.aadhar" placeholder="aadhar." ng-required="true">

        </div>
        <div class="col-sm-6">
          <label for="title"id="info" id="info"class="text-muted"> Passport Number</label>
          <input type="text" class="form-control" id="title" name="passport" ng-model="$resolve.employee.passport" placeholder="passportnumber" ng-required="true">

        </div>
        <div class="col-sm-6">
          <label for="title"id="info"id="info"class="text-muted"ng-init="$resolve.employee.validfrom = $ctrl.getConvertDate($resolve.employee.validfrom)">Valid From</label>
          <input type="date" ng-disabled="!$ctrl.employee.passport"class="form-control" name="validfrom" id="title" ng-model="$resolve.employee.validfrom" ng-required="true">

                </div>
        <div class="col-sm-6">
          <label for="title"id="info"id="info"class="text-muted"ng-init="$resolve.employee.validto = $ctrl.getConvertDate($resolve.employee.validto)">Valid To</label>
          <input type="date" ng-disabled="!$ctrl.employee.passport"class="form-control" name="validto" id="title" ng-model="$resolve.employee.validto" ng-required="true">

        </div>
        <div class="col-sm-6">
          <label for="title"id="info"class="text-muted">Departments</label>
          <input type="text" class="form-control" name="departments" id="title" ng-model="$resolve.employee.departments" ng-required="true">

        </div>
        <div class="col-sm-6">
          <label for="title"id="info"class="text-muted">Designation</label>
          <input type="text" class="form-control" name="designation" id="title" ng-model="$resolve.employee.designation" ng-required="true">

        </div>
        <div class="col-sm-12">
        <label for="title"id="info" class="text-muted">Marital Status</label></br>
        <label><input type="radio" ng-model="$resolve.employee.status" value="Single"ng-required="true" />Single</label>
        <label><input type="radio" ng-model="$resolve.employee.status" value="Married" ng-required="true"/>Married</label>
        <label><input type="radio" ng-model="$resolve.employee.status" value="Widow"ng-required="true" />Widow</label>
        <label><input type="radio" ng-model="$resolve.employee.status" value="Divorce" ng-required="true"/>Divorce</label><br />

        </div>
        <div class="col-sm-6" ng-if="$resolve.employee.status=='Married'">
        <label for="title"id="info" class="text-muted"> Spouse Name</label>
        <input type="text" class="form-control" id="title" name="SpouseName" ng-model="$resolve.employee.SpouseName" placeholder="Spouse Name." ng-required="true">
        </div>

        <div class="col-sm-12">
        <h4>Address:</h4>
        <div class="col-sm-6">
          <label for="title"id="info"class="text-muted">Current Address</label>
          <textarea type="text" class="form-control" name="CurrentAddress" id="title" ng-model="$resolve.employee.CurrentAddress" ng-required="true">
        </textarea>

        </div>
        <div class="col-sm-6">
          <label for="title"id="info"class="text-muted">Permanent Address</label>
          <textarea type="text" class="form-control" name="PermanentAddress" id="title" ng-model="$resolve.employee.PermanentAddress" ng-required="true">
        </textarea>

        </div>
        <div class="col-sm-6">
          <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.Pos = $ctrl.getConvertDate($resolve.employee.Pos)">Period of stay</label>
          <input type="date" class="form-control" name="Pos" id="title" ng-model="$resolve.employee.Pos" placeholder="POS" ng-required="true">

        </div>
        <div class="col-sm-6">
          <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.pos = $ctrl.getConvertDate($resolve.employee.pos)">Period of stay</label>
          <input type="date" class="form-control" name="pos" id="title" ng-model="$resolve.employee.pos" placeholder="POS" ng-required="true">

        </div>
        </div>
        </form >
        </div>
        <div class="col-sm-12">
        <h3>Educational Details:</h3>
        <form name="myForm">
          <div class="col-sm-12">
        <div class="col-sm-2"id="info"class="text-muted">
        <label><input type="checkbox" ng-model="$resolve.employee.education.tenth.tenth"  ng-required="true"/>Tenth/10th</label>
        </div>
        <div class="col-sm-4">
        <label for="title"id="info"class="text-muted">Institute Name</label>
        <input type="text" ng-disabled="!$ctrl.employee.tenth" class="form-control" name="Insname" id="title" ng-model="$resolve.employee.education.tenth.Insname" placeholder="Institute" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted" ng-init="$resolve.employee.education.tenth.tenthpassedout = $ctrl.getConvertDate($resolve.employee.education.tenth.tenthpassedout)">Year of passing</label>
        <input type="date" ng-disabled="!$ctrl.employee.tenth" class="form-control" name="tenthpassedout" id="title" ng-model="$resolve.employee.education.tenth.tenthpassedout" placeholder="year of passing" ng-required="true">
        </div>
        <div class="col-sm-4">
        <label for="title"id="info"class="text-muted">Tenth Percentage</label>
        <input type="number" ng-disabled="!$ctrl.employee.tenth" class="form-control" name="tenthpercentage" id="title" ng-model="$resolve.employee.education.tenth.tenthpercentage" placeholder="Percentage" ng-required="true">
        </div>
        </div>

        <div class="col-sm-12">
        <div class="col-sm-2">
        <label><input type="checkbox" ng-model="$resolve.employee.education.intermediate.intermediate" value="intermediate" ng-required="true"/>Intermediate/12th</label>
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted">Specialization</label>
        <input type="text" ng-disabled="!$ctrl.employee.intermediate" class="form-control" name="Specialization" id="title" ng-model="$resolve.employee.education.intermediate.Specialization" placeholder="Specialization" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted">Institute Name</label>
        <input type="text" ng-disabled="!$ctrl.employee.intermediate" class="form-control" name="insname" id="title" ng-model="$resolve.employee.education.intermediate.insname" placeholder="Institute" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.education.intermediate.Interpassedout = $ctrl.getConvertDate($resolve.employee.education.intermediate.Interpassedout)">Year of passing</label>
        <input type="date" ng-disabled="!$ctrl.employee.intermediate"class="form-control" name="Interpassedout" id="title" ng-model="$resolve.employee.education.intermediate.Interpassedout" placeholder="year of passing" ng-required="true">
        </div>
        <div class="col-sm-4">
        <label for="title"id="info"class="text-muted">Intermediate Percentage</label>
        <input type="number"ng-disabled="!$ctrl.employee.intermediate" class="form-control" name="Intermediatepercentage" id="title" ng-model="$resolve.employee.education.intermediate.Intermediatepercentage" placeholder="Percentage" ng-required="true">
        </div>
        </div>
        <div class="col-sm-12">
        <div class="col-sm-2">
        <label for=id="info"class="text-muted"><input type="checkbox" ng-model="$resolve.employee.education.graduation.graduation" value="graduation" ng-required="true"/>Graduation</label>
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted">Specialization</label>
        <input type="text" ng-disabled="!$ctrl.employee.graduation" class="form-control" name="gradspeci" id="title" ng-model="$resolve.employee.education.graduation.gradspeci" placeholder="Specialization" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted">Institute Name</label>
        <input type="text" ng-disabled="!$ctrl.employee.graduation" class="form-control" name="Uniname" id="title" ng-model="$resolve.employee.education.graduation.Uniname" placeholder="Institute" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.education.graduation.From = $ctrl.getConvertDate($resolve.employee.education.graduation.From)">From</label>
        <input type="date" ng-disabled="!$ctrl.employee.graduation"class="form-control" name="From" id="title" ng-model="$resolve.employee.education.graduation.From" placeholder="year of passing" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.education.graduation.To = $ctrl.getConvertDate($resolve.employee.education.graduation.To)">To</label>
        <input type="date" ng-disabled="!$ctrl.employee.graduation"class="form-control" name="To" id="title" ng-model="$resolve.employee.education.graduation.To" placeholder="year of passing" ng-required="true">
        </div>
        <div class="col-sm-2">
          <label for="title"id="info"class="text-muted"> Percentage</label>
          <input type="number"ng-disabled="!$ctrl.employee.graduation" class="form-control" name="graduationpercentage" id="title" ng-model="$resolve.employee.education.graduation.graduationpercentage" placeholder="Percentage" ng-required="true">
        </div>
        </div>
        <div class="col-sm-12">
        <div class="col-sm-2">
        <label for=id="info"class="text-muted"><input type="checkbox" ng-model="$resolve.employee.education.postgraduation.postgraduation" value="postgraduation"ng-required="true" />postgraduation</label>
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted">Specialization</label>
        <input type="text" ng-disabled="!$ctrl.employee.postgraduation" class="form-control" name="postspeci" id="title" ng-model="$resolve.employee.education.postgraduation.postspeci" placeholder="Specialization" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted">Institute Name</label>
        <input type="text" ng-disabled="!$ctrl.employee.postgraduation" class="form-control" name="uniname" id="title" ng-model="$resolve.employee.education.postgraduation.uniname" placeholder="Institute" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.education.postgraduation.pgfrom = $ctrl.getConvertDate($resolve.employee.education.postgraduation.pgfrom)">From</label>
        <input type="date" ng-disabled="!$ctrl.employee.postgraduation"class="form-control" name="pgfrom" id="title" ng-model="$resolve.employee.education.postgraduation.pgfrom" placeholder="year of passing" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.education.postgraduation.pgto = $ctrl.getConvertDate($resolve.employee.education.postgraduation.pgto)">To</label>
        <input type="date" ng-disabled="!$ctrl.employee.postgraduation"class="form-control" name="pgto" id="title" ng-model="$resolve.employee.education.postgraduation.pgto" placeholder="year of passing"ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"> Percentage</label>
        <input type="number" ng-disabled="!$ctrl.employee.postgraduation"class="form-control" name="postgraduationpercentage" id="title" ng-model="$resolve.employee.education.postgraduation.postgraduationpercentage" placeholder="Percentage" ng-required="true">
        </div>
        </div>
        <div class="col-sm-12">
        <div class="col-sm-2">
        <label for= id="info"class="text-muted"><input type="checkbox" ng-model="$resolve.employee.education.pHD.pHD" value="pHD" ng-required="true"/>pHD</label>
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted">Specialization</label>
        <input type="text" ng-disabled="!$ctrl.employee.pHD" class="form-control" name="pHDspec" id="title" ng-model="$resolve.employee.education.pHD.pHDspec" placeholder="Specialization" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted">University Name</label>
        <input type="text" ng-disabled="!$ctrl.employee.pHD" class="form-control" name="universityname" id="title" ng-model="$resolve.employee.education.pHD.universityname" placeholder="Institute"ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.education.pHD.pHDfrom = $ctrl.getConvertDate($resolve.employee.education.pHD.pHDfrom)">From</label>
        <input type="date" ng-disabled="!$ctrl.employee.pHD"class="form-control" name="pHDfrom" id="title" ng-model="$resolve.employee.education.pHD.pHDfrom" placeholder="From" ng-required="true">
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.education.pHD.pHDto = $ctrl.getConvertDate($resolve.employee.education.pHD.pHDto)">To</label>
        <input type="date" ng-disabled="!$ctrl.employee.pHD"class="form-control" name="pHDto" id="title" ng-model="$resolve.employee.education.pHD.pHDto" placeholder="to" ng-required="true">
        <span style="color:red" ng-if="myForm.pHDto.$error.required && $ctrl.submitted">required.
        </div>
        <div class="col-sm-2">
        <label for="title"id="info"class="text-muted"> Percentage</label>
        <input type="number" ng-disabled="!$ctrl.employee.pHD"class="form-control" name="pHDpercentage" id="title" ng-model="$resolve.employee.education.pHD.pHDpercentage" placeholder="Percentage"ng-required="true">
        </div>
        </div>
        <div class="col-sm-12">
          <label for="title" id="info"class="text-muted">Any Educational Gap:</label></br>
         <label><input type="radio" ng-model="$resolve.employee.education.gap"  ng-required="true"ng-value="true"/>Yes</label>
         <label><input type="radio" ng-model="$resolve.employee.education.gap" ng-required="true" ng-value="false"/>No</label>

        </div>
        <div class="col-sm-6" ng-if="$ctrl.newemployee.gap=='Yes'">
          <label for="title" id="info"class="text-muted"> How many years</label>
          <input type="text" class="form-control" id="title" name="Howmanyyears" ng-model="$resolve.newemployee.Howmanyyears" placeholder="How many years" ng-required="true">
        </div>
        </form>
      </div>
      <div class="col-sm-12">
        <h3>Work History:</h3>
        <form name="myForm">
          <div class="col-sm-6">
          <label for="title"id="info"class="text-muted">Years of Experience: </label>
          <input type="number"  class="form-control" name="Experience" id="title" ng-model="$resolve.employee.employment.Experience" placeholder="Experience" ng-required="true">
          </div>
          <div class="col-sm-6">
            <label for="title" id="info"class="text-muted">Fresher:</label></br>
           <label><input type="radio" ng-model="$resolve.employee.employment.Fresher" ng-value="true" ng-required="true"/>Yes</label>
          <label><input type="radio" ng-model="$resolve.employee.employment.Fresher" ng-value="false" ng-required="false"/>No</label>
          </div>
        <div class="col-sm-12">
         <label for="title"id="info"class="text-muted">Company Name</label>
         <input type="text" class="form-control" name="companyname" id="title" ng-model="$resolve.employee.employment.companyname" placeholder="CompanyName" ng-required="true">
        </div>
        <div class="col-sm-12">
         <div class="col-sm-6">
           <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.employment.Fromdate = $ctrl.getConvertDate($resolve.employee.employment.Fromdate)">From Date</label>
           <input type="date" class="form-control" name="Fromdate" id="title" ng-model="$resolve.employee.employment.Fromdate" placeholder="joining year" ng-required="true">
         </div>
         <div class="col-sm-6">
           <label for="title"id="info"class="text-muted"ng-init="$resolve.employee.employment.Todate = $ctrl.getConvertDate($resolve.employee.employment.Todate)">To Date</label>
           <input type="date" class="form-control" name="Todate" id="title" ng-model="$resolve.employee.employment.Todate" placeholder="leavingyear" ng-required="true">
         </div>
        </div>

        <div class="col-sm-6">
          <label for="title"id="info"class="text-muted">Designation</label>
          <input type="text" class="form-control" name="designations" id="title" ng-model="$resolve.employee.employment.designations" ng-required="true">

        </div>

        <div class="col-sm-12"style="margin:12px">
        <div class="btn-group pull-right"style="margin:8px">
        <button type="button" class="btn btn-link" ui-sref="employees.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateEmployee(myForm, $resolve.employee)">Save</button>


        </div>
        </div>
        </form>
      </div>
    </div>
    </div>
