<div class="container-fluid">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <h1><strong class="text-capitalize">{{$resolve.holiday.title}}</strong></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="holiday.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <!-- <button class="btn btn-link"><i class="fa fa-pencil fa-lg text-primary"></i></button> -->
          <!-- <button class="btn btn-link" ng-click="$ctrl.deleteholidays($resolve.holidays)"><i class="fa fa-trash fa-lg text-danger"></i></button> -->
        </div>
      </h1>
    </div>
  </div>

  <div class="col-sm-12">

    <form>

      <div class="col-sm-6">
       <label for="title" ng-init="$ctrl.convertDate($resolve.holiday.date)">Date</label>
       <input type="date"  class="form-control" id="date" ng-model="$ctrl.holiday.date" />
       <p class="help-block">Select date </p>
   </div>

      <div class="col-sm-6">
        <label for="Holiday">Name of Holiday</label>
        <input type="text" class="form-control" id="description" ng-model="$resolve.holiday.title">
      </div>
    <div class="col-sm-12">
   <label for="summary">Summary</label>
   <textarea type="text" class="form-control"  id="summary" ng-model="$resolve.holiday.summary"></textarea>
   </div>

   <div class="col-sm-12">
     <div class="btn-group pull-right">
       <button type="button" class="btn btn-link" ui-sref="holiday.list" >Discard</button>
       <button type="submit" class="btn btn-pirmary" ng-click="$ctrl.updateholiday($resolve.holiday)">Save</button>
     </div>
   </div>

 </form>
 </div>
 </div>
