<div class="container-fluid">

<div class="btn-group col-sm-12 nopadding">
  <p class="text-right">

  <button class="btn btn-link" ui-sref="employees.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
  <button class="btn btn-link" ui-sref="employees.edit({employeeId:$resolve.employeeId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
  <button class="btn btn-link" ng-click="$ctrl.deleteEmployee($resolve.employee)"><i class="fa fa-trash fa-lg text-danger"></i></button>
</p>
</div>
</div>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class=" panel panel-heading">
      <caption><h1 class="text-center"style="color:black;">Information Of Employee</h1></caption>
    </div>
    <!-- <div class="col-sm-12 nopadding text-center"style="padding-bottom:30px;">
      <h1 style="background-color:lightgray">Information of Employee <strong class="text-primary">{{$resolve.employee.name}}</strong> </h1>

    </div> -->
    <div class="panel-body">
      <div class="col-sm-12">
        <form name="myForm">
          <div class="col-sm-6">

            <div class="col-sm-3">
            <span id="head">Joining Date:</span>
          </div>
            <div class="col-sm-3">
            <span id="body" name="joiningdate" id="title" ng-model="$resolve.employee.joiningdate" uib-tooltip="joiningdate">{{$resolve.employee.joiningdate |date :"dd-MM-yyyy"}}</span></br>
          </div>
        </div>

          <div class="col-sm-6">
            <div class="col-sm-3">
            <span id="head" class="text-muted">First Name:</span>
          </div>
          <div class="col-sm-3">
            <span id="body"name="fname" ng-model="$resolve.employee.fname" uib-tooltip="firstname">{{$resolve.employee.fname}}</span>
          </div>
          </div>
            <div class="col-sm-6">
            <div class="col-sm-3">
          <span id="head">  Middle Name:</span>
        </div>
        <div class="col-sm-3">
            <span id="body"  name="mname" ng-model="$resolve.employee.mname"uib-tooltip="Middlename">{{$resolve.employee.mname}}</span>
            <!-- <span style="color:red" ng-if="myForm.mname.$error.required && $ctrl.submitted">Middlename required. -->
          </div>
        </div>
          <div class="col-sm-6">
            <div class="col-sm-3">
            <span id="head"> Last Name:</span>
          </div>
          <div class="col-sm-3">
            <span id="body" name="lname" ng-model="$resolve.employee.lname"uib-tooltip="Lastname">{{$resolve.employee.lname}}</span>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-3">
          <span id="head">  Primary Email:</span>
        </div>
        <div class="col-sm-3">
            <span id="body" name="primaryemail" ng-model="$resolve.employee.primaryemail" uib-tooltip="primaryemail">{{$resolve.employee.primaryemail}}</span>
          </div>
          </div>

          <div class="col-sm-6">
            <div class="col-sm-3">
             <span id="head">Mobile Number:</span>
           </div>
           </span>
           <div class="col-sm-3">
            <span id="body"  name="mobile" ng-model="$resolve.employee.mobile" uib-tooltip="mobile">{{$resolve.employee.mobile}}</span>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-3">
             <span id="head">Secondary Email:</span>
           </div>
           <div class="col-sm-3">
            <span id="body" name="secondaryemail" ng-model="$resolve.employee.secondaryemail"uib-tooltip="secondaryemail">{{$resolve.employee.secondaryemail}}</span>
          </div>
          </div>

              <div class="col-sm-6">
                <div class="col-sm-3">
                 <span id="head">Secondary Mobilenumber:</span>
               </div>
               <div class="col-sm-3">
                <span id="body" name="mobilenumber" ng-model="$resolve.employee.mobilenumber"uib-tooltip="mobilenumber">{{$resolve.employee.mobilenumber}}</span>
              </div>
              </div>
          <div class="col-sm-6">
            <div class="col-sm-3">

            <span id="head">Gender:</span>
          </div>
          <div class="col-sm-3">
        <span id="body" ng-model="$resolve.employee.genderMale" value="Male"uib-tooltip="gender">{{$resolve.employee.genderMale}}</span>
        <span id="body" ng-model="$resolve.employee.genderFemale "value="Female"uib-tooltip="gender">{{$resolve.employee.genderFemale}}</span>
        <span id="body" ng-model="$resolve.employee.genderTransgender" value="Transgender"uib-tooltip="gender">{{$resolve.employee.genderTransgender}}</span>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-3">

      <span id="head" > DateofBirth:</span>
    </div>
    <div class="col-sm-3">
        <span id="body"name="dob" ng-model="$resolve.employee.dob"uib-tooltip="dob">{{$resolve.employee.dob|date :"dd-MM-yyyy"}}</span>
            </div>
          </div>
        </form >
        <div><div class="panel-body"style="padding-bottom:100px"></div></div></br>

      <div class="container-fluid">
        <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="1" style="background-color:#E0FFFF;"heading="Basic Information ">

        <form name="myForm">


        <div class="col-sm-6">
          <div class="col-sm-3">
             <span id="head" >Employee Id:</span>
         </div>
           <div class="col-sm-3">
          <span id="body"  name="empId" ng-model="$resolve.employee.empId"uib-tooltip="empId">{{$resolve.employee.empId}}</span>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
             <span id="head" >Father name:</span>
         </div>
           <div class="col-sm-3">
        <span id="body" name="fathername" ng-model="$resolve.employee.fathername" uib-tooltip="fathername">{{$resolve.employee.fathername}}</span>
      </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
         <span id="head" >Pan:</span>
       </div>
       <div class="col-sm-3">
        <span id="body" name="panId" ng-model="$resolve.employee.panId" uib-tooltip="panId">{{$resolve.employee.panId}}</span>
      </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
        <span id="head"> Nationality:</span>
      </div>
      <div class="col-sm-3">
        <span id="body" name="nationality" ng-model="$resolve.employee.nationality" uib-tooltip="nationality">{{$resolve.employee.nationality}}</span>
      </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
        <span id="head"> Aadhaar Id:</span>
      </div>
      <div class="col-sm-3">
        <span id="body"  name="aadhar" ng-model="$resolve.employee.aadhar" uib-tooltip="aadhar">{{$resolve.employee.aadhar}}</span>
      </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
          <span id="head"> Passport Id:</span>
        </div>
        <div class="col-sm-3">
          <span id="body"  name="passport" ng-model="$resolve.employee.passport"uib-tooltip="passport">{{$resolve.employee.passport}}</span>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
        <span id="head">  Valid from:</span>
      </div>
      <div class="col-sm-3">
          <span id="body"  name="validfrom" id="title" ng-model="$resolve.employee.validfrom"uib-tooltip="validfrom">{{$resolve.employee.validfrom|date :"dd-MM-yyyy"}}</span>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
        <span id="head">  Valid to:</span>
      </div>
        <div class="col-sm-3">
        <span id="body" name="validto"  ng-model="$resolve.employee.validto" uib-tooltip="validto">{{$resolve.employee.validto|date :"dd-MM-yyyy"}}</span>
                </div>
              </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
        <span id="head">  Departments:</span>
      </div>
      <div class="col-sm-3">
          <span id="body" name="departments"  ng-model="$resolve.employee.departments.name"uib-tooltip="departments">{{$resolve.employee.departments.name}}</span>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
          <span id="head">Designation:</span>
        </div>
        <div class="col-sm-3">
          <span id="body" name="designation" ng-model="$resolve.employee.designation"uib-tooltip="designation">{{$resolve.employee.designation}}</span>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-3">
      <span id="head">  Marital Status:</span></br>
    </div>
    <div class="col-sm-3">
        <span id="body" ng-model="$resolve.employee.statusSingle" value="Single" uib-tooltip="statusSingle">{{$resolve.employee.statusSingle}}</span>
        <span id="body" ng-model="$resolve.employee.statusMarried" value="Married"uib-tooltip="Married">{{$resolve.employee.statusMarried}}</span>
        <span id="body" ng-model="$$resolve.employee.statusWidow" value="Widow" uib-tooltip="Widow">{{$resolve.employee.statusWidow}}</span>
        <span id="body" ng-model="$resolve.employee.statusDivorce" value="Divorce"uib-tooltip="Divorce">{{$resolve.employee.statusDivorce}}</span>
      </div>
        </div>
        <div class="col-sm-3" ng-if="$resolve.employee.status=='Married'">
         <span id="head"> Spouse Name:</span>
       </div>
       <div class="col-sm-3">
        <span id="body" name="SpouseName" ng-model="$resolve.employee.SpouseName" uib-tooltip="SpouseName">{{$resolve.employee.SpouseName}}</span>
        </div>

        <div class="col-sm-12">
        <h4>Address:</h4>
        <table class="table table-bordered">
    <thead>
      <tr>
        <th>CurrentAddress</th>
        <th>Period Of Stay</th>
        <th>PermanentAddress</th>
        <th>Period Of Stay</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span id="body" name="CurrentAddress" ng-model="$resolve.employee.CurrentAddress"uib-tooltip="CurrentAddress">{{$resolve.employee.CurrentAddress}}</span></td>
        <td><span id="body"name="Pos"  ng-model="$resolve.employee.Pos" uib-tooltip="Pos">{{$resolve.employee.Pos|date :"dd-MM-yyyy"}}</span></td>
        <td><span id="body" name="PermanentAddress"ng-model="$resolve.employee.PermanentAddress"uib-tooltip="PermanentAddress">{{$resolve.employee.PermanentAddress}}</span></td>
        <td><span id="body" name="pos"  ng-model="$resolve.employee.pos" uib-tooltip="pos">{{$resolve.employee.pos|date :"dd-MM-yyyy"}}</span></td>

      </tr>

    </tbody>
  </table>
</div>
        </form >
        </uib-tab>

        <uib-tab index="2"  style="background-color:#E0FFFF;" heading="Educational Details">

        <form name="myForm">
          <table class="table table-bordered">
    <thead>
      <tr>
        <th>Course</th>
        <th>Institute</th>
        <th>Specialization</th>
        <th>Year Of Passing</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span id="head">10th</span></td>
        <td><span id="body" name="Insname"  ng-model="$resolve.employee.education.tenth.Insname"uib-tooltip="Insname">{{$resolve.employee.education.tenth.Insname}}</span> </td>
        <td></td>
        <td><span id="body" name="tenthpassedout" ng-model="$resolve.employee.education.tenth.tenthpassedout" uib-tooltip="tenthpassedout">{{$resolve.employee.education.tenth.tenthpassedout|date :"yyyy"}}</span></td>
        <td><span id="body" name="tenthpercentage"ng-model="$resolve.employee.education.tenth.tenthpercentage" uib-tooltip="tenthpercentage">{{$resolve.employee.education.tenth.tenthpercentage}}</span></td>
      </tr>
      <tr>
        <td><span id="head">12th</span></td>
        <td><span id="body"name="insname" ng-model="$resolve.employee.education.intermediate.insname" uib-tooltip="insname">{{$resolve.employee.education.intermediate.insname}}</span></td>
        <td><span id="body" name="Specialization"  ng-model="$resolve.employee.education.intermediate.Specialization" uib-tooltip="Specialization">{{$resolve.employee.education.intermediate.Specialization}}</span></td>
        <td><span id="body" name="Interpassedout"  ng-model="$resolve.employee.education.intermediate.Interpassedout"uib-tooltip="insname">{{$resolve.employee.education.intermediate.Interpassedout|date :"yyyy"}}</span></td>
        <td><span id="body"name="Intermediatepercentage"  ng-model="$resolve.employee.education.intermediate.Intermediatepercentage"uib-tooltip="Intermediatepercentage">{{$resolve.employee.education.intermediate.Intermediatepercentage}}</span></td>
      </tr>
      <tr>
        <td><span id="head">Graduation</span></td>
        <td><span id="body"name="Uniname"ng-model="$resolve.employee.education.graduation.Uniname"uib-tooltip="Uniname">{{$resolve.employee.education.graduation.Uniname}}</span></td>
        <td><span id="body" name="gradspeci" ng-model="$resolve.employee.education.graduation.gradspeci" uib-tooltip="gradspeci">{{$resolve.employee.education.graduation.gradspeci}}</span></td>
        <td><span id="body" name="To" ng-model="$resolve.employee.education.graduation.To" uib-tooltip="To">{{$resolve.employee.education.graduation.To|date :"yyyy"}}</span></td>
        <td><span id="body" name="graduationpercentage" ng-model="$resolve.employee.education.graduation.graduationpercentage"uib-tooltip="graduation">{{$resolve.employee.education.graduation.graduationpercentage}}</span></td>
      </tr>
      <tr>
        <td><span id="head">PG</span></td>
        <td><span id="body" name="uniname"  ng-model="$resolve.employee.education.postgraduation.uniname"uib-tooltip="uniname">{{$resolve.employee.education.postgraduation.uniname}}</span></td>
        <td><span id="body" name="postspeci" ng-model="$resolve.employee.education.postgraduation.postspeci"uib-tooltip="postgraduation">{{$resolve.employee.education.postgraduation.postspeci}}</span></td>
        <td><span id="body" name="pgto"  ng-model="$resolve.employee.education.postgraduation.pgto" uib-tooltip="pgto">{{$resolve.employee.education.postgraduation.pgto|date :"yyyy"}}</span></td>
        <td><span id="body" name="postgraduationpercentage"ng-model="$resolve.employee.education.postgraduation.postgraduationpercentage"uib-tooltip="postgraduationpercentage">{{$resolve.employee.education.postgraduation.postgraduationpercentage}}</span></td>
      </tr>
      <tr>
        <td><span id="head"> pHD</span></td>
        <td><span id="body" name="universityname"  ng-model="$resolve.employee.education.pHD.universityname"uib-tooltip="universityname">{{$resolve.employee.education.pHD.universityname}}</span></td>
        <td><span id="body" name="pHDspec" ng-model="$resolve.employee.education.pHD.pHDspec"uib-tooltip="pHDspec">{{$resolve.employee.education.pHD.pHDspec}}</span></td>
        <td><span id="body" name="pHDto"  ng-model="$resolve.employee.education.pHD.pHDto"uib-tooltip="pHDto">{{$resolve.employee.education.pHD.pHDto|date :"yyyy"}}</span></td>
        <td><span id="body" name="pHDpercentage" ng-model="$resolve.employee.education.pHD.pHDpercentage" uib-tooltip="pHDpercentage">{{$resolve.employee.education.pHD.pHDpercentage}}</span></td>
      </tr>
    </tbody>
  </table>


        <div class="col-sm-12">
          <span id="head">Any Educational Gap:</span>
         <input type="radio" ng-model="$resolve.employee.education.gap" ng-value="true"/>Yes
         <input type="radio" ng-model="$resolve.employee.education.gap" ng-value="false"/>No

        </div>

        <div class="col-sm-3" ng-if="$ctrl.employee.education.gap=='Yes'">
        <span id="head" >  How many years:</span>
        <span  name="Howmanyyears" ng-model="$ctrl.employee.education.Howmanyyears"uib-tooltip="Howmanyyears">{{$resolve.employee.Howmanyyears|date :"yyyy"}}</span>
        </div>
        </form>

      </uib-tab>
      <uib-tab index="3"style="background-color:#E0FFFF;" heading="Work History">
      <div class="col-sm-12">

        <form name="myForm">
          <div class="col-sm-12">
            <span id="head">Fresher:</span>
           <input type="radio"id="body" ng-model="$resolve.employee.employment.Fresher" ng-value="true"/>Yes
          <input type="radio"id="body" ng-model="$resolve.employee.employment.Fresher" ng-value="false"/>No
          </div>
          <div class="col-sm-6">
          <div class="col-sm-4">
        <span id="head">Experience:</span>
      </div>
        <div class="col-sm-2">
          <span id="body" name="Experience" ng-model="$resolve.employee.employment.Experience"uib-tooltip="Experience">{{$resolve.employee.employment.Experience}}</span>
          </div>
        </div>
          <table class="table table-bordered">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Joining</th>
        <th>Leaving</th>
        <th>Designation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span name="companyname" id="body" ng-model="$resolve.employee.employment.companyname"uib-tooltip="companyname">{{$resolve.employee.employment.companyname}}</span></td>
        <td><span id="body" name="Fromdate" ng-model="$resolve.employee.employment.Fromdate" uib-tooltip="Fromdate">{{$resolve.employee.employment.Fromdate|date :"yyyy"}}</span></td>
        <td><span name="Todate" id="body" ng-model="$resolve.employee.employment.Todate" uib-tooltip="Todate">{{$resolve.employee.employment.Todate|date :"yyyy"}}</span></td>
        <td><span name="designations" id="body" ng-model="$resolve.employee.employment.designations"uib-tooltip="designations">{{$resolve.employee.employment.designations}}</span></td>
      </tr>

    </tbody>
  </table>
        <div class="col-sm-12"style="margin:12px">
        <div class="btn-group pull-right"style="margin:8px">
        <button type="button" class="btn btn-link" ui-sref="employees.list" >Discard</button>

        </div>
        </div>
        </form>
      </div>
      </uib-tab>
    </uib-tabset>
</div>
    </div>
    </div>
  </div>
  </div>
</div>
