<div class="container-fluid">
  <div class=" jumbotron jumbotron-fluid col-sm-12">
    <div class="col-sm-6">
      <h1> Client:<strong class="text-primary">{{$resolve.client.name}}</strong></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="clients.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <!-- <button class="btn btn-link" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteClient($resolve.client)"><i class="fa fa-trash fa-lg text-danger"></i></button> -->
          <!-- <small>  {{$resolve.clientId}}</small> -->
        </div>
      </h1>
    </div>
  </div>
  <div class="col-sm-12 jumbotron">
    <form name="myForm">
      <div class="col-sm-6">
        <label for="name" style="padding-top:8px"><span class="required">Company Name</span></label>
        <input type="text" class="form-control" name="name" id="name" ng-model="$resolve.client.name" placeholder="Name of the client here." ng-required ="true">
        <span style="color:red" ng-if="myForm.name.$error.required && $ctrl.submitted">Company Name is required.</span>
      </div>
      <div class="col-sm-6">
        <label for="id" style="padding-top:8px"><span class="required">Company Id</span></label>
        <input type="text" class="form-control" id="id" name="id" ng-model="$resolve.client.id" placeholder="Company Id" ng-required ="true">
        <span style="color:red" ng-if="myForm.id.$error.required && $ctrl.submitted">Comapany ID is required </span>
      </div>
      <div class="col-sm-12">
        <label for="description" style="padding-top:8px">Description</span></label>
        <ng-quill-editor  id="summary" name="description"ng-model="$resolve.client.description" placeholder="Enter description">
          <div class="ql-toolbar ql-snow"></div>
        </ng-quill-editor>
        <!-- <textarea type="text" class="form-control"  id="summary" name="description"ng-model="$ctrl.client.description" placeholder="Add a company description here." ng-required ="true" ng-maxlenght="350"></textarea> -->
        <!-- <span style="color:red" ng-if="myForm.descrption.$error.required && $ctrl.submitted">Description about company is needed</span> -->
      </div>
      <div class="col-sm-6">
        <label for="weburl" style="padding-top:8px"><span class="required">Webpage url</span></label>
        <input type="url" name="weburl" class="form-control"  id="weburl" ng-model="$resolve.client.weburl" placeholder="Url" >
        <!-- <span style="color:red" ng-if="myForm.weburl.$error.required && $ctrl.submitted">Url is required</span>
        <span style="color:red" ng-if="myForm.weburl.$error.url">Invalid Url.</span> -->

      </div>
      <div class="col-sm-6">
        <label for="year" style="padding-top:8px"><span class="required">Year founded</span></label>
        <input type="number" class="form-control"name="year"  id="year" ng-model="$resolve.client.year" placeholder="year" ng-required ="true" ng-maxlength="4">
        <span style="color:red" ng-if="myForm.year.$error.required && $ctrl.submitted">Year</span>
        <span style="color:red" ng-if="myForm.year.$error.maxlength">please a valid year.</span>
      </div>
      <div class="col-sm-6">
        <label for="companysize" style="padding-top:8px"><span class="required">Comapany Size</span></label>
        <input type="text" class="form-control"name="companysize"  id="companysize" ng-model="$resolve.client.companysize" ng-required="true">
        <span style="color:red" ng-if="myForm.companysize.$error.required && $ctrl.submitted"> Company Size is Required</span>
      </div>

      <div class="col-sm-6">
        <label for="industry" style="padding-top:8px"><span class="required">Industry</span></label>
        <input type="text" class="form-control"name="industry"  id="industry" ng-model="$resolve.client.industry" >
        <span style="color:red" ng-if="myForm.industry.$error.required && $ctrl.submitted">Industry is required</span>
      </div>
      <div class="col-sm-6">
        <label for="companytype" style="padding-top:8px"><span class="required">Companytype</span></label>
        <!-- <select class="form-control" ng-model="$ctrl.client.industry" ng-options="industry for industry in $ctrl.industries"></select> -->
          <input type="text" class="form-control"name="companytype"  id="companytype" ng-model="$resolve.client.companytype" ng-required="true" >
        <span style="color:red" ng-if="myForm.companytype.$error.required && $ctrl.submitted">Comapany Type is required</span>
      </div>
      <div class="col-sm-6">
        <label for="location" style="padding-top:8px"><span class="required">Location</span></label>
        <input type="text" class="form-control"  name="location"id="region" ng-model="$resolve.client.location" placeholder="Select Location" ng-required ="true">
        <span style="color:red" ng-if="myForm.location.$error.required && $ctrl.submitted">Location is required.</span>
      </div>



      <div class="col-sm-12">
        <div class="btn-group pull-right"style="margin:20px">
          <button type="button" class="btn btn-default" ui-sref="clients.list" >Discard</button>
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateClient(myForm, $resolve.client)">Save</button>
        </div>
      </div>
    </form>
</div>

</div>
