<div class="container-fluid">
  <div class="col-sm-3">
  </div>
    <div class="col-sm-6">
      <h1 style="color:tomato"class="text-center"><strong>HRMS</strong></h1>
      <hr>
      <h1 class="text-primary text-center">Login now</h1>
  <br>
      <form class="form" name="form" class="" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div class="text-right">
          <button class="btn btn-success btn-lg btn-login" type="submit">
            Login
          </button>
          <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Register
          </a>
        </div>
            <hr/>
        <div class="row">
          <div class="">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
