<div class="container">
  <div class="col-sm-12">
    <!-- <h1 > Hey <strong class="text-capitalize">{{$ctrl.getCurrentUser().name}}</strong>! <br> -->
      <h1><div class="page-header" style="color:green;" class="text-center">{{$ctrl.message}}</div></h1>
  </div>

<div class="col-sm-12 jumbotron">
  <form name="myForm">
    <div  class="col-sm-12" class="form-group">
      <label for="title" class="text-muted"><span class="required"> Job Title</span></label>
      <input type="text" class="form-control" id="title" name="title" ng-model="$ctrl.newjob.title" placeholder="Job title here." ng-required ="true">
      <span style="color:red" ng-if="myForm.title.$error.required && $ctrl.submitted">Title is required.</span>
      <!-- <span style="color:red" ng-show="myForm.title.$error.minlength">please enter atleast 3 characters</span> -->
      <!-- <span style="color:red" ng-show="myForm.title.$error.maxlength">Not exceed 10 characters.</span> -->

    </div>
    <div class="col-sm-12" class="form-group">
      <label for="description" class="text-muted"><span class="required"> Job Description</span></label>
      <ng-quill-editor  id="description" name="description" ng-model="$ctrl.newjob.description" placeholder="Enter description." ng-required ="true">
        <div class="ql-toolbar ql-snow"></div>
      </ng-quill-editor>
      <span style="color:red" ng-if="myForm.description.$error.required && $ctrl.submitted">description is required.</span>
      <!-- <span style="color:red" ng-show="myForm.descrip.$error.maxlength">Not exceed 300 characters.</span> -->

    </div>
    <div  class="col-sm-6" class="form-group">
      <label for="keyword" class="text-muted"><span class="required"> Keyword</span></label>
      <ui-select name="keyword" multiple tagging tagging-label="(custom 'new' label)" name="skills" ng-model="$ctrl.newjob.keyword" theme="bootstrap" sortable="true" ng-required ="true">
        <ui-select-match placeholder="Select or search">{{$item}}</ui-select-match>
            <ui-select-choices repeat="keyword in $ctrl.keywords | filter: $select.search">
              {{keyword}}
                <!-- <div ng-bind-html="type | highlight: $select.search"></div> -->
            </ui-select-choices>
            </ui-select>
       <!-- <input type="text" class="form-control"  id="keywords" name="skills" ng-model="$ctrl.newjob.keywords" placeholder="Skills" ng-required ="true"> -->
      <span style="color:red" ng-if="myForm.skills.$error.required && $ctrl.submitted">skills is required.</span>

    </div>
    <div  class="col-sm-6" class="form-group">
      <label for="cn" class="text-muted"><span class="required"> Company_Name</span></label>
      <input type="text" class="form-control"  id="cn" name="cn" ng-model="$ctrl.newjob.cn" placeholder="company-name" ng-required ="true">
      <span style="color:red" ng-if="myForm.cn.$error.required && $ctrl.submitted">Company_Name is required.</span>

    </div>
    <div  class="col-sm-6" class="form-group">
      <label for="annual" class="text-muted"><span class="required"> Anuual CTC</span></label>
      <input type="number" class="form-control"  id="annual" name="annual" ng-model="$ctrl.newjob.annual" placeholder="Annual CTC." ng-required ="true">
      <span style="color:red" ng-if="myForm.annual.$error.required && $ctrl.submitted">skills is required.</span>

    </div>

    <div  class="col-sm-6" class="form-group">
      <label for="nov" class="text-muted"><span class="required">No_Of_Vacancies</span></label>
      <input type="number" class="form-control"  id="nov" name="nov" ng-model="$ctrl.newjob.nov" placeholder="No.of.vacancies." ng-required ="true">
        <span style="color:red" ng-if="myForm.nov.$error.required && $ctrl.submitted">nov is required.</span>
    </div>
    <div  class="col-sm-6" class="form-group">
      <label for="type" class="text-muted"><span class="required">Job Type</span></label>
      <!-- <input type="text" class="form-control"  id="type" name="type" ng-model="$ctrl.newjob.type" placeholder="Job Type." ng-required ="true"> -->
      <ui-select name="type" ng-model="$ctrl.newjob.type" theme="bootstrap" sortable="true" ng-required ="true">
        <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="type in $ctrl.types | filter: $select.search">
                <div ng-bind-html="type | highlight: $select.search"></div>
            </ui-select-choices>
            </ui-select>
        <span style="color:red" ng-if="myForm.type.$error.required && $ctrl.submitted">type is required.</span>
    </div>
    <div  class="col-sm-6" class="form-group">
      <label for="np" class="text-muted"><span class="required">Notice_Period</span></label>
      <input type="number" class="form-control"  id="np" name="np" ng-model="$ctrl.newjob.np" placeholder="Notice_Period." ng-required ="true">
        <span style="color:red" ng-if="myForm.np.$error.required && $ctrl.submitted">np is required.</span>
    </div>

    <div class="col-sm-6" class="form-group">
      <label for="Work Exp" class="text-muted"><span class="required"> Work Experiences</span></label>
      <ui-select name="exp" ng-model="$ctrl.newjob.experience" theme="bootstrap" ng-required ="true">
        <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="experience in $ctrl.experiences | filter: $select.search">
          <div ng-bind-html="experience | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span style="color:red" ng-if="myForm.exp.$error.required && $ctrl.submitted">Experience is required.</span>
    </div>

    <div class="col-sm-6" class="form-group">
      <label for="industry" class="text-muted"><span class="required">Industry</span></label>
      <ui-select name="industry" ng-model="$ctrl.newjob.industry" theme="bootstrap" ng-required ="true">
        <ui-select-match placeholder="Select or search a industry in the list...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="industry in $ctrl.industries | filter: $select.search">
          <div ng-bind-html="industry | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span style="color:red" ng-if="myForm.industry.$error.required && $ctrl.submitted">Industry is required.</span>
    </div>
    <div  class="col-sm-6" class="form-group">
      <label for="jobrole" class="text-muted"><span class="required">Job Role</span></label>
      <!-- <select class="form-control" ng-model="$ctrl.newjob.industry" ng-options="industry for industry in $ctrl.industries"></select> -->
      <ui-select name="role" ng-model="$ctrl.newjob.role" theme="bootstrap" ng-required ="true">
        <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="role in $ctrl.roles | filter: $select.search">
          <div ng-bind-html="role | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span style="color:red" ng-if="myForm.role.$error.required && $ctrl.submitted">Job-Role is required.</span>
    </div>
    <div class="col-sm-6" class="form-group">
      <label for="location" class="text-muted"><span class="required">Location</span></label>
      <input type="text" class="form-control"  id="location" name="location" ng-model="$ctrl.newjob.location" placeholder="Select Location" ng-required ="true">
      <span style="color:red" ng-if="myForm.location.$error.required && $ctrl.submitted">location is required.</span>
    </div>
    <div  class="col-sm-6" class="form-group">
      <label for="area" class="text-muted"><span class="required">Functional Area</span></label>
      <input type="text" class="form-control"  id="area" name="area" ng-model="$ctrl.newjob.area" placeholder="Select Functional Area" ng-required ="true">
      <span style="color:red" ng-if="myForm.area.$error.required && $ctrl.submitted">Functional_Area is required.</span>
    </div>
      </form>


    <div  class="col-sm-12" class="form-group" style="margin:12px">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ui-sref="jobs.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addJob(myForm)">Post Job</button>
      </div>
    </div>
</div>
</div>
