<div class="container">
<div class="col-sm-2">
</div>
<div class="col-sm-8">

  <div class="btn-group col-sm-12 ">
      <p class="text-right">
        <button class="btn btn-link" ui-sref="ticket.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
        <button class="btn btn-link" ui-sref="ticket.new({ticketId:$resolve.ticketId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
        <button class="btn btn-link" ng-click="$ctrl.deleteTicket($resolve.ticket)"><i class="fa fa-trash fa-lg text-danger"></i></button>
      </p>
  </div>
  <br>
  <br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Information Of Ticket</h3>
    </div>
    <div class="panel-body">
      <div class="col-sm-8">
        <span ng-bind-html="$resolve.ticket.description"></span>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Timeline</h3>
    </div>
    <div class="panel-body">
      <div class="col-sm-12" class="form-group">
        <label for="comments" class="text-muted"><span class="required">Comments</span></label>
        <ng-quill-editor  id="comments" name="comments" ng-model="$ctrl.newticket.comments" placeholder="Enter comments." ng-required ="true">
          <div class="ql-toolbar ql-snow"></div>
        </ng-quill-editor>
      </div>
    </div>
  </div>
</div>
</div>
