<div class="container-fluid">
  <div class="col-sm-12">
    <h1> Hey <strong class="text-capitalize">{{$ctrl.getCurrentUser().name}}</strong>! <br><small>{{$ctrl.message}}</small></h1>
  </div>

<div class="col-sm-12 jumbotron">
  <form name="myForm">
    <div class="col-sm-6">
      <label for="name" style="padding-top:8px"><span class="required">Company Name</span></label>
      <input type="text" class="form-control" name="name" id="name" ng-model="$ctrl.newclient.name" ng-keyup="$ctrl.abbreviation($ctrl.newclient.name)" placeholder="Name of the client here." ng-required ="true">
      <span style="color:red" ng-if="myForm.name.$error.required && $ctrl.submitted">Company Name is required.</span>
    </div>
    <div class="col-sm-6">
      <label for="id" style="padding-top:8px"><span class="required">Company Id</span></label>
      <input type="text" class="form-control" id="id" name="id" ng-model="$ctrl.newclient.id" placeholder="Company Id" ng-required ="true">
      <span style="color:red" ng-if="myForm.id.$error.required && $ctrl.submitted">Comapany ID is required </span>
    </div>
    <div class="col-sm-12">
      <label for="description" style="padding-top:8px"><span class="required">Company Description</span></label>
      <ng-quill-editor  id="descrption" name="description"ng-model="$ctrl.newclient.description" placeholder="Enter description">
        <div class="ql-toolbar ql-snow"></div>
      </ng-quill-editor>
      <!-- <textarea type="text" class="form-control"  id="summary" name="description"ng-model="$ctrl.newclient.description" placeholder="Add a company description here." ng-required ="true" ng-maxlenght="350"></textarea> -->
      <span style="color:red" ng-if="myForm.descrption.$error.required && $ctrl.submitted">Maximus charecters upto 350.</span>
    </div>
    <div class="col-sm-6">
      <label for="weburl" style="padding-top:8px"><span class="required">Webpage url</span></label>
      <input type="url" name="weburl" class="form-control" id="weburl" ng-model="$ctrl.newclient.weburl" placeholder="" ng-required ="true">
      <span style="color:red" ng-if="myForm.weburl.$error.required && $ctrl.submitted">Url is required</span>
      <span style="color:red" ng-if="myForm.weburl.$error.url">Invalid Url.</span>

    </div>
    <div class="col-sm-6">
      <label for="year" style="padding-top:8px"><span class="required">Year founded</span></label>
      <input type="number" class="form-control"name="year"  id="year" ng-model="$ctrl.newclient.year" placeholder="year" ng-required ="true" ng-maxlength="4">
      <span style="color:red" ng-if="myForm.year.$error.required && $ctrl.submitted">Year</span>
      <span style="color:red" ng-if="myForm.year.$error.maxlength">please a valid year.</span>
    </div>
    <div class="col-sm-6">
      <label for="companysize" style="padding-top:8px"><span class="required">Comapany Size</span></label>
      <ui-select name="companysize" ng-model="$ctrl.newclient.companysize" theme="bootstrap"ng-required="true">
        <ui-select-match placeholder="Select or search a company size in the list...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="companysize in $ctrl.companysizes | filter: $select.search">
          <div ng-bind-html="companysize | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span style="color:red" ng-if="myForm.companysize.$error.required && $ctrl.submitted"> Company Size is Required</span>
    </div>

    <div class="col-sm-6">
      <label for="industry" style="padding-top:8px"><span class="required">Industry</span></label>
      <ui-select  name="industry"ng-model="$ctrl.newclient.industry" theme="bootstrap" ng-required="true">
        <ui-select-match placeholder="Select or search a industry in the list...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="industry in $ctrl.industries | filter: $select.search">
          <div ng-bind-html="industry | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span style="color:red" ng-if="myForm.industry.$error.required && $ctrl.submitted">Industry is required</span>
    </div>
    <div class="col-sm-6">
      <label for="companytype" style="padding-top:8px"><span class="required">Companytype</span></label>
      <!-- <select class="form-control" ng-model="$ctrl.newclient.industry" ng-options="industry for industry in $ctrl.industries"></select> -->
      <ui-select name="companytype"ng-model="$ctrl.newclient.companytype" theme="bootstrap"ng-required="true">
        <ui-select-match placeholder="Select or search a companytype in the list...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="companytype in $ctrl.companytypes | filter: $select.search">
          <div ng-bind-html="companytype | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span style="color:red" ng-if="myForm.companytype.$error.required && $ctrl.submitted">Comapany Type is required</span>
    </div>
    <div class="col-sm-6">
      <label for="location" style="padding-top:8px"><span class="required">Location</span></label>
      <input type="text" class="form-control"  name="location"id="region" ng-model="$ctrl.newclient.location" placeholder="Select Location" ng-required ="true">
      <span style="color:red" ng-if="myForm.location.$error.required && $ctrl.submitted">Location is required.</span>
    </div>



    <div class="col-sm-12">
      <div class="btn-group pull-right"style="margin:20px">
        <button type="button" class="btn btn-default" ui-sref="clients.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addclient(myForm)">Save</button>
      </div>
    </div>
  </form>
</div>

</div>
