<div class="container-fluid ">
  <div class="col-sm-6">
    <h3 class="lead text-default"><strong style="color:#F0FFFF;margin-right:10px">Mustang</strong><small>Powered by <strong class="text-info">Niranta</strong></small></h3>
  </div>
  <div class="col-sm-6 text-right">
    <h1>
      <div class="btn-group">
        <a  class="btn btn-info" ui-sref="documentation">Documentation</a>
        <a  class="btn btn-danger" ui-sref="issues">Issues</a>
        <a  class="btn btn-warning" ui-sref="qotd">Adopt my seeds, says a tree!</a>
      </div>
    </h1>
  </div>
</div>
