
/* Sticky footer start*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #A9A9A9;
}
footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
/* Sticky footer end */
