<div class="container-fluid">
  <div class=" panel panel-default">
    <div class="panel-heading"style="background-color:black">
      <caption><h3 class="text-center"style ="color:white;">LEAVE REQUEST</h3></caption>
    </div>
    <div class="panel-body">
      <div class="col-sm-12">
        <form name="myForm">
          <div class="col-sm-6">
            <!-- <div  class="col-sm-12" class="form-group"> -->
            <label for="empname" class="text-muted"><span class="required"> Employee Name</span></label>
            <input type="text" class="form-control" id="empname" name="empname" ng-model="$ctrl.newleaverequest.empname" placeholder="Employee Name." ng-required ="true">
            <span style="color:red" ng-if="myForm.empname.$error.required && $ctrl.submitted">Name required.</span>
          </div>
          <div class="col-sm-6">
            <label for="empId" class="text-muted"><span class="required"> Employee Id</span></label>
            <input type="text" class="form-control" id="empId" name="empId" ng-model="$ctrl.newleaverequest.empId" placeholder="Employee Id." ng-required ="true">
            <span style="color:red" ng-if="myForm.empId.$error.required && $ctrl.submitted">Id required.</span>
          </div>
          <div class="col-sm-6">
            <label for="department" style="padding-top:8px"class="text-muted"><span class="required">Department</span></label>
            <ui-select name="department" ng-model="$ctrl.newleaverequest.department" theme="bootstrap" ng-required ="true">
              <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="department in $ctrl.department | filter: $select.search">
                <div ng-bind-html="department | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <span style="color:red" ng-if="myForm.department.$error.required && $ctrl.submitted">Department required.</span>
          </div>
          <div class="col-sm-6">
            <label for="Employeestatus" style="padding-top:8px"class="text-muted"><span class="required">EmployeeStatus</span></label>
            <ui-select name="employeestatus" ng-model="$ctrl.newleaverequest.employeestatus" theme="bootstrap" ng-required ="true">
              <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="employeestatus in $ctrl.employeestatus | filter: $select.search">
                <div ng-bind-html="employeestatus | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <span style="color:red" ng-if="myForm.Employeestatus.$error.required && $ctrl.submitted">EmployeeStatus required.</span>
          </div>
          <div class="col-sm-6">
            <label for="leavetype" style="padding-top:8px"class="text-muted"><span class="required">Leave type</span></label>
            <ui-select name="leavetype" ng-model="$ctrl.newleaverequest.leavetype" theme="bootstrap" ng-required ="true">
              <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="leavetype in $ctrl.leavetype | filter: $select.search">
                <div ng-bind-html="leavetype | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <span style="color:red" ng-if="myForm.leavetype.$error.required && $ctrl.submitted">Leavetype required.</span>
          </div>


          <div class="col-sm-6">
            <div class="col-sm-4"style="margin-top:10px">
              <label for="Fromdate"class="text-muted"><span class="required">From Date</span></label>
              <datetimepicker hidden-time="true" id="from" name="from" date-format="dd-MM-yyyy"
               date-options="{minDate:$ctrl.today}" ng-model="$ctrl.newleaverequest.from"
               date-disabled="$ctrl.disabled(date,mode)" placeholder="dd-MM-yyyy" ng-change="$ctrl.dateDifference($ctrl.newleaverequest.from,$ctrl.newleaverequest.to)"
              ng-required ="true"></datetimepicker>
            </div>
            <div class="col-sm-4"style="margin-top:10px">
              <label for="Fromdate"class="text-muted"><span class="required">To Date</span></label>
              <datetimepicker hidden-time="true" id="to" name="to" date-format="dd-MM-yyyy"
              date-options="{minDate:$ctrl.today}" ng-model= "$ctrl.newleaverequest.to"
              date-disabled="$ctrl.disabled(date,mode)"placeholder="dd-MM-yyyy" ng-change="$ctrl.dateDifference($ctrl.newleaverequest.from,$ctrl.newleaverequest.to)"
              ng-required ="true"></datetimepicker>
            </div>

          <div class="col-sm-4">
            <label for="noofdays" style="padding-top:8px"class="text-muted"><span class="required">
              Number Of Days</span></label>
              <input type="number" class="form-control" id="noofdays" name="noofdays" ng-model="$ctrl.newleaverequest.noofdays" ng-click="$ctrl.dateDifference($ctrl.from, $ctrl.to)" placeholder="Enter No Of Days." ng-required ="true">
              <span style="color:red" ng-if="myForm.noofdays.$error.required && $ctrl.submitted">Enter No Of Days.</span>
            </div>
            </div>
          <div class="col-sm-12">
            <label for="leavemessage" style="padding-top:8px "class="text-muted"><span class="required">Leave Reason</span></label>
            <textarea type="text" class="form-control"  id="leavemessage" ng-model="$ctrl.newleaverequest.leavemessage" placeholder="Leave Reason about the leave." ng-required ="true"></textarea>
          </div>
          <!-- <div class="col-sm-12">
            <label for="leavePerYear"style="padding-top:12px" class="text-muted"><span class="required">Leave PerYear</span>
              <input type="number" id="leavePerYear" name="leavePerYear" ng-model="$ctrl.newleaverequest.leavePerYear" placeholder="Enter Leaves peryear." ng-required ="true"></label>
              <span style="color:red" ng-if="myForm.leavePerYear.$error.required && $ctrl.submitted">Leaves peryear</span>
            </div> -->
          <div class="col-sm-12">
            <label for="leave Accrue Enabled:" style="padding-top:15px" id="leaveAccrueEnabled:"  class="text-muted"><span class="required">Leave Accrue Enabled:</span></label>
            <label><input type="radio" ng-model="$ctrl.newleaverequest.leaveAccrueEnabled" value="Yes" />Yes</label>
            <label><input type="radio" ng-model="$ctrl.newleaverequest.leaveAccrueEnabled"value="No" />No</label>
            <span style="color:red" ng-if="myForm.leaveAccrueEnabled.$error.required && $ctrl.submitted">leaveAccrueEnabled</span>
          </div>
          <div class="col-sm-12">
            <label for="Leaves Carried Forward" style="padding-top:15px" id="leaveCarriedForward:"  class="text-muted"><span class="required">Leave Carried Forward:</span></label>
            <label><input type="radio" ng-model="$ctrl.newleaverequest.leaveCarriedForward" value="Yes" /> Yes</label>
            <label><input type="radio" ng-model="$ctrl.newleaverequest.leaveCarriedForward"value="No" /> No</label>
            <span style="color:red" ng-if="myForm.leaveCarriedForward.$error.required && $ctrl.submitted">leaveCarriedForward</span>
          </div>
          <div class="col-sm-6">
            <label for="leavestatus" style="padding-top:8px"class="text-muted"><span class="required">Leave Status</span></label>
            <ui-select name="leavestatus" ng-model="$ctrl.newleaverequest.leavestatus" theme="bootstrap" ng-required ="true">
              <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="leavestatus in $ctrl.leavestatus | filter: $select.search">
                <div ng-bind-html="leavestatus | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <span style="color:red" ng-if="myForm.leavestatus.$error.required && $ctrl.submitted">leavestatus required.</span>
          </div>


              <div class="col-sm-6">
                <label for="approvedby" style="padding-top:8px" class="text-muted"><span class="required">Approved By</span></label>
                <input type="text" class="form-control" id="approvedby" name="approvedby" ng-model="$ctrl.newleaverequest.approvedby" placeholder="ApprovedBy." ng-required ="true">
                <span style="color:red" ng-if="myForm.appprovedby.$error.required && $ctrl.submitted">Enter No Of Days.</span>
              </div>
            </div>
            <div class="col-sm-12"style="margin:12px">
              <div class="btn-group pull-right"style="margin:8px">
                <button type="button" class="btn btn-default" ui-sref="leaverequest.list" >Discard</button>
                <button type="submit" class="btn btn-primary" ng-click="$ctrl.addleaverequest(myForm)">Apply</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
