@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-social/bootstrap-social.css';
/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@import '~font-awesome/css/font-awesome.css';
@import '~ui-select/dist/select.css';
@import '~angular-ui-bootstrap-datetimepicker/datetimepicker.css';


/**
 *Font Awesome Fonts
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?v=4.1.0');
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Component styles are injected through gulp */
/* inject:css */
@import 'admin/admin.css';
@import 'dashboard/dashboard.css';
@import 'main/main.css';
@import 'quill.css';
@import 'requirements/requirements.css';
@import '../components/footer/footer.css';
@import '../components/modal/modal.css';
@import '../components/oauth-buttons/oauth-buttons.css';
/* endinject */
