<div class="container-fluid">
  <div class="col-sm-12">

    <h1 > Hey <strong class="text-capitalize">{{$ctrl.getCurrentUser().name}}</strong>! <br><small>{{$ctrl.message}}</small></h1>
  </div>
</div>
<div class="col-sm-12">
  <form >
    <div class="col-sm-6">
      <label for="title">Name</label>
      <input type="text" class="form-control" id="title" ng-model="$ctrl.newpawn.name" placeholder="Name of the pawn here.">
      <p class="help-block">Pawn gets a name.</p>
    </div>
    <div class="col-sm-6">
      <label for="title">Color</label>
      <input type="text" class="form-control" id="title" ng-model="$ctrl.newpawn.color" placeholder="Color of the pawn here.">
      <p class="help-block">Pawn gets a color.</p>
    </div>
    <div class="col-sm-12">
      <label for="summary">Summary</label>
      <textarea type="text" class="form-control"  id="summary" ng-model="$ctrl.newpawn.summary" placeholder="Summary about the pawn here."></textarea>
      <p class="help-block">Pawn can have a summary.</p>
    </div>
    <div class="col-sm-12">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link" ui-sref="pawns.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addPawn()">Save</button>
      </div>
    </div>
  </form>
</div>
