<div class="container-fluid">
  <h6 class="text-right">
<div class="col-sm-12">
<button class="btn btn-link" ui-sref="timesheets.new"><i class="fa fa-plus fa-lg text-primary"></i></button>
</div>
</h6>


      <!-- <div class=" panel panel-default"> -->
        <div class="col-sm-8 form-group">
            <lable class="">Date From :</lable>
            <datetimepicker hidden-time="true" date-format="dd-MM-yyyy"  date-options="{minDate:$ctrl.today}" placeholder="DD-MM-YYYY" ng-model="$ctrl.fromDate">
            </datetimepicker>
            <i class ="glyphicon glyphicon-calendar fa-2x" id="datepicker-style" ></i>

            <lable class="">To:</lable>
            <datetimepicker hidden-time="true" date-format="dd-MM-yyyy"  date-options="{minDate:$ctrl.today}" placeholder="DD-MM-YYYY" ng-model="$ctrl.toDate">
            </datetimepicker>
            <i class ="glyphicon glyphicon-calendar fa-2x" id="datepicker-style" ></i>
            <button type="button" class="btn btn-primary" style="margin-left:30px"
            ng-click="$ctrl.fetchTimesheet($ctrl.fromDate, $ctrl.toDate)" ng-disabled="!($ctrl.toDate && $ctrl.fromDate)">GO</button>
            <button type="submit" class="btn btn-primary" ng-click= "$ctrl.reset()">Reset</button>
        </div>
        <div class="row">
        <div class="col-sm-12">
        <div class="col-sm-12 text-center panel-heading" style="background-color:rgb(52,73,84);color:white"><h1>Timesheet-Info</h1>
        </div>


        <div class="text-left  panel-body">
          <table class="table table-bordered">
    <thead>
      <tr>
        <th>EmpName</th>
        <th>EmployeeId</th>
        <th>WeekNumber</th>
        <th>Year</th>
        <th>Location</th>
        <th>From</th>
        <th>To</th>
        <th>Total</th>
        <th>ApprovedBy</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="timesheet in $ctrl.timesheets">
        <td><a class="btn btn-link " ui-sref="timesheets.info({timesheetId:  timesheet._id})">{{timesheet.empName }}</a></td>
        <td>{{timesheet.empId}}</td>
        <td>{{timesheet.weeknumber}}</td>
        <td>{{timesheet.year}}</td>
        <td>{{timesheet.location}}</td>
        <td>{{timesheet.from | date :"dd/MM/yyyy"}}</td>
        <td>{{timesheet.to | date :"dd/MM/yyyy"}}</td>
        <td>{{timesheet.total}}</td>
        <td>{{timesheet.approvedBy}}</td>
        <!-- <td>
          <a class="btn btn-link " ui-sref="timesheets.info({timesheetId:  timesheet._id})" uib-tooltip="{{timesheets.name}}">Info</a>
        </td> -->
    </tbody>
    </table>
        </div>
        </div>
      </div>
    </div>

  <div class="container-fluid" ng-if="!$ctrl.timesheets.length">
    <div class="row text-center">
      <h1 class="text-warning">Ooops!</h1>
      <p class="text-muted lead">No data to display.</h1>
    </div>
  </div>
