<div class="container-fluid">
<div class="col-sm-12">

  <h1 > Hey <strong class="text-capitalize">{{$ctrl.getCurrentUser().name}}</strong>! <br><small>{{$ctrl.message}}</small></h1>
</div>

<div class="col-sm-12">
<form >
     <div class="col-sm-6">
      <label for="title">Date</label>
      <input type="date" class="form-control" id="" ng-model="$ctrl.newholiday.date" placeholder="select a date."> <p class="help-block">select date </p>
  </div>

<div class="col-sm-6">
  <label for="title">Enter a New hoiiday</label>
  <input type="text" class="form-control" id="title" ng-model="$ctrl.newholiday.title" placeholder="Date descripition.">
  <p class="help-block">Type of holiday</p>
</div>
  <div class="col-sm-12">
    <label for="summary">Summary</label>
    <textarea type="text" class="form-control"  id="summary" ng-model="$ctrl.newholiday.summary" placeholder="Summary about the Holiday."></textarea>
    <p class="help-block">Details of Holiday</p>
  </div>
  <div class="col-sm-12">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-link" ui-sref="holiday.list" >Discard</button>
      <button type="submit" class="btn btn-pirmary" ng-click="$ctrl.addHoliday()">Save</button>
    </div>
  </div>
</form>
</div>
</div>


























<!--
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <!-- <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    NEW Holiday
                </h4>
            </div>
            <div class="modal-body">
          <form>
          <div class="form-group">
            <label for="title">Date</label>
            <input type="date" class="form-control" id="" ng-model="$ctrl.newholiday.date"
            placeholder="select a date."> <p class="help-block">select date </p>
          </div>
          <div class="form-group">
            <label for="title">Enter a New hoiiday</label>
            <input type="text" class="form-control" id="title" ng-model="$ctrl.newholiday.title"
            placeholder="Date descripition.">
            <p class="help-block">Type of holiday</p>
            </div>
            <div class="form-group">
            <label for="summary">Summary</label>
            <textarea type="text" class="form-control"  id="summary" ng-model="$ctrl.newholiday.summary"
            placeholder="Summary about the Holiday."></textarea>
            <p class="help-block">Details of Holiday</p>
            </div>
            <button type="button" class="btn btn-link" ui-sref="holiday.list" >Discard</button>
            <button type="submit" class="btn btn-pirmary" ng-click="$ctrl.addHoliday()">Save</button>
        </div>
      </form> --> 
