
<div class="col-sm-12"></div>
<h1> Hello,  <small> says <strong class="text-capitalize">{{$resolve.name}}</strong></small></h1>
<div class="container-fluid">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <h1> Employee Name:<strong class="text-capitalize">{{$resolve.leaverequest.empname}}</strong><small>{{$resolve.leaverequestId}}</small></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="leaverequest.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <!-- <button class="btn btn-link" ui-sref="leaverequest.edit"><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteleaverequest($resolve.leaverequest)"><i class="fa fa-trash fa-lg text-danger"></i></button>
        </div> -->
      </h1>
    </div>
  </div>

  <div class="col-sm-12 jumbotron">
    <form name="myForm">
      <div class="col-sm-6">
        <!-- <div  class="col-sm-12" class="form-group"> -->
        <label for="empname" class="text-muted"><span class="required"> Employee Name</span></label>
        <input type="text" class="form-control" id="empname" name="empname" ng-model="$resolve.leaverequest.empname" placeholder="Employee Name." ng-required ="true">
        <span style="color:red" ng-if="myForm.empname.$error.required && $ctrl.submitted">Name required.</span>
      </div>
      <div class="col-sm-6">
        <label for="empId" class="text-muted"><span class="required"> Employee Id</span></label>
        <input type="text" class="form-control" id="empId" name="empId" ng-model="$resolve.leaverequest.empId" placeholder="Employee Id." ng-required ="true">
        <span style="color:red" ng-if="myForm.empId.$error.required && $ctrl.submitted">Id required.</span>
      </div>
      <div class="col-sm-6">
        <label for="department" style="padding-top:8px"><span class="required">Department</span></label>
        <input type="text" class="form-control" id="department" name="department" ng-model="$resolve.leaverequest.department" placeholder="Department." ng-required ="true">
        <span style="color:red" ng-if="myForm.department.$error.required && $ctrl.submitted">Department required.</span>
      </div>
      <div class="col-sm-6">
        <label for="leavetype" style="padding-top:8px"><span class="required">Leave type</span></label>
        <input type="text" class="form-control" id="leavetype" name="leavetype" ng-model="$resolve.leaverequest.leavetype"  placeholder="Leavetype." ng-required ="true">
        <span style="color:red" ng-if="myForm.leavetype.$error.required && $ctrl.submitted">Leavetype required.</span>
      </div>
      <div class="col-sm-6">
        <label for="employeestatus" style="padding-top:8px"><span class="required">Employee Status</span></label>
        <input type="text" class="form-control" id="employeestatus" name="employeestatus" ng-model="$resolve.leaverequest.employeestatus" placeholder="employeestatus" ng-required ="true">
        <span style="color:red" ng-if="myForm.employeestatus.$error.required && $ctrl.submitted">Employeestatus required.</span>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-4"style="margin-top:10px">
          <label for="from "><span class="required">From Date</span></label>
          <datetimepicker hidden-time="true" id="from" name="from" date-format="dd-MM-yyyy"  ng-model="$resolve.leaverequest.from" placeholder="dd-MM-yyyy">
          </datetimepicker>
        </div>
        <div class="col-sm-4"style="margin-top:10px">
          <label for="Todate"><span class="required">To Date</span></label>
          <datetimepicker hidden-time="true" id="to" name="to" date-format="dd-MM-yyyy"  ng-model="$resolve.leaverequest.to" placeholder="dd-MM-yyyy">
          </datetimepicker>
        </div>
        <div class="col-sm-4">
          <label for="noofdays" style="padding-top:8px"class="text-muted"><span class="required"> Number Of Days</span></label>
          <input type="number" class="form-control" id="noofdays" name="noofdays" ng-model="$resolve.leaverequest.noofdays" placeholder="Enter No Of Days." ng-required ="true">
          <span style="color:red" ng-if="myForm.noofdays.$error.required && $ctrl.submitted">Enter No Of Days.</span>
        </div>
      </div>
      <div class="col-sm-12">
        <label for="leavemessage" style="padding-top:8px"><span class="required">Leave Reason</span></label>
        <textarea type="text" class="form-control"  id="leavemessage" ng-model="$resolve.leaverequest.leavemessage" placeholder="Leave Reason about the leave."></textarea>
      </div>
      <div class="col-sm-12">
        <label for="leave Accrue Enabled:" style="padding-top:15px" id="leaveAccrueEnabled:"  class="text-muted"><span class="required">Leave Accrue Enabled:</span></label>
        <label><input type="radio" ng-model="$resolve.newleaverequest.leaveAccrueEnabled" value="Yes" />Yes</label>
        <label><input type="radio" ng-model="$resolve.newleaverequest.leaveAccrueEnabled"value="No" />No</label>
        <span style="color:red" ng-if="myForm.leaveAccrueEnabled.$error.required && $ctrl.submitted">leaveAccrueEnabled</span>
      </div>
      <div class="col-sm-12">
        <label for="Leave Carried Forward" style="padding-top:15px" id="leaveCarriedForward:"  class="text-muted"><span class="required">Leave Carried Forward:</span></label>
        <label><input type="radio" ng-model="$resolve.newleaverequest.leaveCarriedForward" value="Yes" />Yes</label>
        <label><input type="radio" ng-model="$resolve.newleaverequest.leaveCarriedForward"value="No" />No</label>
        <span style="color:red" ng-if="myForm.leaveCarriedForward.$error.required && $ctrl.submitted">leaveCarriedForward</span>
      </div>
      <!-- <div class="col-sm-6">
      <label for="leavePerYear"style="padding-top:12px" class="text-muted"><span class="required">Leave PerYear</span>
      <input type="number" id="leavePerYear" name="leavePerYear" ng-model="$resolve.newleaverequest.leavePerYear" placeholder="Enter Leaves peryear." ng-required ="true"></label>
      <span style="color:red" ng-if="myForm.leavePerYear.$error.required && $ctrl.submitted">Leaves peryear.</span>
    </div> -->
    <div class="col-sm-6">
      <label for="leavestatus" style="padding-top:8px"><span class="required">leavestatus</span></label>
      <input type="text" class="form-control" id="leavestatusleavestatus" name="leavestatus" ng-model="$resolve.leaverequest.leavestatus" placeholder="employeestatus" ng-required ="true">
      <span style="color:red" ng-if="myForm.leavestatus.$error.required && $ctrl.submitted">leavestatus required.</span>
    </div>

    <div class="col-sm-6">
      <label for="appprovedby" style="padding-top:8px" class="text-muted"><span class="required">Appproved By</span></label>
      <input type="text" class="form-control" id="appprovedby" name="appprovedby" ng-model="$resolve.leaverequest.appprovedby" placeholder="AppprovedBy." ng-required ="true">
      <span style="color:red" ng-if="myForm.appprovedby.$error.required && $ctrl.submitted"></span>
    </div>
    <div class="col-sm-12"style="margin:12px">
      <div class="btn-group pull-right"style="margin:8px">
        <button type="button" class="btn btn-default" ui-sref="leaverequest.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateleaverequest($resolve.leaverequest)">Save</button>
      </div>
    </form>
  </div>
</div>
