<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="rounded-circle navbar-brand"  href="/" uib-dropdown-toggle id="account-dropdown">
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x text-info"></i>
          <i class="fa fa-stack-1x">&#x1f40e;</i>
        </span>
      </a>
      <!-- <a href="/" class="navbar-brand"> Mustang</a> -->
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}" ng-if="item.loggedIn && $ctrl.isLoggedIn()">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <!-- <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li> -->
        <li class="nav-item" uib-dropdown on-toggle="toggled(open)" ng-if="$ctrl.isLoggedIn()">
          <a class="rounded-circle" uib-dropdown-toggle id="account-dropdown">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x text-danger"></i>
              <i class="fa fa-user fa-stack-1x text-muted"></i>
            </span>
          </a>
          <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="account-dropdown">
            <div class="col-sm-12 " role="menuitem">
              <div ng-show="$ctrl.isLoggedIn()">  <p class="navbar-text text-capitalize"><i class="glyphicon glyphicon-user"style="font-size:25px;padding-left:10px;color:blue"></i> {{ $ctrl.getCurrentUser().name }}</p> </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="col-sm-12 " role="menuitem">
              <!-- <i class="fa fa-user fa-2x "></i> -->
              <a ui-sref="settings" class="btn btn-link "><i class="fa fa-cog fa-spin fa-lg "></i>  Settings</a>
            </div>
            <div class="dropdown-divider"></div>
            <div class="col-sm-12" role="menuitem">
              <a ui-sref="logout" class="btn btn-danger btn-block"><i class="fa fa-sign-out"></i> Log out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
