<div class="container">
	<div class = "table-responsive">
		<table id="mytable"  class="table table-bordered table-list" >
			<h1 class="text-center"><strong style="color:RoyalBlue;">Payroll</strong></h1>
			<tbody>
				<div class="col-sm-12">
					<tr>
						<td>
							<label>Ctc</label>
						</td>
						<td>
							<input type="number" class="form-control" id="Ctc" name="Ctc"ng-model="$ctrl.newPayroll.Ctc" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Ctc)"placeholder="Enter Ctc  here." >
						</td>
					</tr>
					<tr>
						<td>
							<label>	Variable</label>
						</td>
						<td>
							<input type="number" class="form-control" id="Variable"name="Variable" ng-model="$ctrl.newPayroll.Variable" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Variable)"placeholder="Enter variable here." >
						</td>
					</tr>
					<tr>
						<th class="text-center"style="background-color:lightgray">COMPONENTS</th>
						<th class="text-center" style="background-color:lightgray">DEDUCTIONS</th>
					</tr>
					<tr><td>
						<div class="col-sm-4">
							<label> HRA </label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Hra" name="Hra"ng-model="$ctrl.newPayroll.Hra"ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Hra)" placeholder="Enter HRA here." >
						</div>
					</td>
					<td>
						<div class="col-sm-4">
							<label>	PF &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Pf" name="Pf"ng-model="$ctrl.newPayroll.Pf"  ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Pf)" placeholder="Enter PF here." >
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-sm-4">
							<label>Basic allowance </label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Basicallowance" name="Basicallowance"ng-model="$ctrl.newPayroll.Basicallowance" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Basicallowance)" placeholder="Enter Basic allowance here." >
						</div>
					</td>
					<td>
						<div class="col-sm-4">
							<label>	PT</label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Pt" name="Pt" ng-model="$ctrl.newPayroll.Pt" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Pt)"placeholder="Enter PT here." >
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="col-sm-4">
							<label>	Travel allowance </label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Travelallowance" name="Travelallowance" ng-model="$ctrl.newPayroll.Travelallowance " ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Travelallowance)" placeholder="Enter Travel allowance  here." >
						</div>
					</td>
					<td>
						<div class="col-sm-4">
							<label>EMI</label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Emi" name="Emi" ng-model="$ctrl.newPayroll.Emi" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Emi)" placeholder="Enter EMI here." >
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-sm-4">
							<label>Medical allowance</label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Medicalallowance" name="Medicalallowance" ng-model="$ctrl.newPayroll.Medicalallowance" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Medicalallowance)" placeholder="Enter Medical allowance here." >
						</div>
					</td>
					<td>
						<div class="col-sm-4">
							<label>ESI </label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Esi" name="Esi" ng-model="$ctrl.newPayroll.Esi" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Esi)" placeholder="Enter ESI here." >
						</div>
					</td>
				</tr>
				<!-- <td>
					<div class="col-sm-4">
						<label>It </label>
					</div>
					<div class="col-sm-8">
						<input type="number"class="form-control" id="It" name="It" ng-model="$ctrl.newPayroll.It" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.It)" placeholder="Enter It here." >
					</div>
				</td>
			</tr>


				<tr> -->
					<td>
						<div class="col-sm-4">
							<label>Subtotal</label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Subtotal" name="Subtotal"ng-model="$ctrl.newPayroll.Subtotal" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Subtotal)" placeholder="Enter Total here." >
						</div>
					</td>
					<td>
						<div class="col-sm-4">
							<label>Total </label>
						</div>
						<div class="col-sm-8">
							<input type="number"class="form-control" id="Total" name="Total" ng-model="$ctrl.newPayroll.Total" ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Total)" placeholder="Enter Total here." >
						</div>
					</td>
				</tr>
			</div>
			<tr>
				<td>
					<div class="col-sm-12">
						<label>Grosstotal</label>
					</td>
					<td>
						<input type="" class="form-control" id="Grosstotal" ng-model="$ctrl.newPayroll.Grosstotal"  placeholder="Enter grosstotal here."ng-keyup="$ctrl.SalaryCalculation($ctrl.newPayroll.Grosstotal)" >
					</td>
				</tr>
			</tbody>
		</div>
	</div>
</table>

<div class="col-sm-12">
	<div class="btn-group pull-right" style="margin:18px">
		<button type="button" class="btn btn-link" ui-sref="payroll.list">Discard</button>
		<button type="submit" class="btn btn-primary" ng-click="$ctrl.addPayroll()">Submit</button>
	</div>
</div>
</div>
