<div class="col-sm-6">
<h2>Employee Add:</h2>
</div>
<div class="col-sm-6 text-right">
  <button type="submit "class="btn btn-primary " ui-sref="signup"><span class="glyphicon glyphicon-hand-right"style="margin-right:10px"></span>Sign up</button>
</div>
<div class="container-fluid">

  <!-- <uib-tab index="0" heading="Step 1"> -->
    <div class="col-sm-12 jumbotron">
    <form name="myForm">
      <div class="col-sm-6">
        <label for="title"id="info"class="text-muted"><span class="required">Joining Date</label></span>
        <input type="date" class="form-control" name="joiningdate" id="title" ng-model="$ctrl.newemployee.joiningdate" ng-required ="true">
        <span style="color:red" ng-if="myForm.joiningdate.$error.required && $ctrl.submitted"> required.</span>
      </div>
      <div class="col-sm-6">
        <label for="fname" id="info"class="text-muted"><span class="required"> First Name</span></label>
        <input type="text" class="form-control" id="fname" name="fname" ng-model="$ctrl.newemployee.fname" placeholder="FirstName." ng-required ="true">
        <span style="color:red" ng-if="myForm.fname.$error.required && $ctrl.submitted">FirstName required.</span>
      </div>
      <div class="col-sm-6">
        <label for="mname" id="info"class="text-muted"> Middle Name</label>
        <input type="text" class="form-control" id="mname" name="mname" ng-model="$ctrl.newemployee.mname" placeholder="MiddleName.">
        <!-- <span style="color:red" ng-if="myForm.mname.$error.required && $ctrl.submitted">Middlename required.</span> -->
      </div>
      <div class="col-sm-6">
        <label for="lname"id="info" class="text-muted"><span class="required"> Last Name</span></label>
        <input type="text" class="form-control" id="lname" name="lname" ng-model="$ctrl.newemployee.lname" placeholder="LastName." ng-required ="true">
        <span style="color:red" ng-if="myForm.lname.$error.required && $ctrl.submitted">LastName required.</span>
      </div>
      <div class="col-sm-6">
        <label for="primaryemail" id="info"class="text-muted"><span class="required"> Primary Email</span></label>
        <input type="text" class="form-control" id="primaryemail" name="primaryemail" ng-model="$ctrl.newemployee.primaryemail" placeholder="Email." ng-required ="true">
        <span style="color:red" ng-if="myForm.primaryemail.$error.required && $ctrl.submitted">email required.</span>
      </div>
      <div class="col-sm-6">
        <label for="secondaryemail" id="info"class="text-muted"><span class="required"> Secondary Email</span></label>
        <input type="text" class="form-control" id="secondaryemail" name="secondaryemail" ng-model="$ctrl.newemployee.secondaryemail" placeholder="Email." ng-required ="true">
        <span style="color:red" ng-if="myForm.secondaryemail.$error.required && $ctrl.submitted">email required.</span>
      </div>
      <div class="col-sm-6">
        <label for="mobile"id="info" class="text-muted"><span class="required"> Mobile Number</span></label>
        <input type="number" class="form-control" ng-maxlength="10"id="mobile" name="mobile" ng-model="$ctrl.newemployee.mobile" placeholder="Mobile." ng-required ="true">
        <span style="color:red" ng-if="myForm.mobile.$error.required && $ctrl.submitted">mobilenumber required.</span>
        <span style="color:red" ng-show="myForm.mobile.$error.maxlength">please enter 10 digit phone number</span>
      </div>
      <div class="col-sm-6">
        <label for="mobilenumber" id="info"class="text-muted"><span class="required"> Secondary Mobilenumber</span></label>
        <input type="number" class="form-control" ng-maxlength="10"id="mobilenumber" name="mobilenumber" ng-model="$ctrl.newemployee.mobilenumber" placeholder="Mobile." ng-required ="true">
        <span style="color:red" ng-if="myForm.mobilenumber.$error.required && $ctrl.submitted">mobilenumber required.</span>
        <span style="color:red"ng-show="myForm.mobilenumber.$error.maxlength">please enter 10 digit phone number</span>
      </div>
      <div class="col-sm-6">
        <label for="dob"id="info"class="text-muted"><span class="required">DateofBirth</span></label>
        <input type="date" class="form-control" name="From" id="dob" ng-model="$ctrl.newemployee.dob" placeholder="DOB" ng-required ="true">
        <span style="color:red" ng-if="myForm.dob.$error.required && $ctrl.submitted"> required.</span>
      </div>
      <div class="col-sm-6">
        <label for="gender"id="info" class="text-muted"><span class="required">Gender</span></label></br>
       <label><input type="radio" ng-model="$ctrl.newemployee.genderMale" value="Male" />Male</label>
    <label><input type="radio" ng-model="$ctrl.newemployee.genderFemale" value="Female" />Female</label>
    <label><input type="radio" ng-model="$ctrl.newemployee.genderTransgender" value="Transgender" />Transgender</label><br />
    <span style="color:red" ng-if="myForm.gender.$error.required && $ctrl.submitted">gender.</span>
  </div>
  <div class="col-sm-12"style="margin:12px">
  <div class="btn-group pull-right"style="margin:8px">
    <button type="button" class="btn btn-link" ui-sref="employees.list" >Discard</button>
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.addEmployee(myForm)">Submit</button>
    <!-- <button type="submit" class="btn btn-primary"ng-if="$ctrl.addEmployee(myForm) && employees.basic && $ctrl.submitted">Submit</button> -->
    </div>
  </form >
</div>
</div>
