.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}
#info {
  padding-top: 8px;
}
#infopage {
  margin-top:50px;
}
#head {
color:gray;
font-size: 15px;
}

#body {
color:blue;
 font-size: 18px;
}
#template{
  padding-top:8px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.container {
  margin-bottom: 2em;
  min-height: 100%;
  overflow: auto;
  padding-bottom:50px;
  text-align: justify;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F0FFFF;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #002552;
}
#style{
  margin-left: 850px;
  width:50%;
}

#head-style{
  color:green;
  text-align: center;
}
#validation-styles{
  color:red;
}
#datepicker-style{
  color:green;
  font-size:20px;
}

.required:after{
  content:"*";
  color:#f00;
}

.navbar-text {
  margin-left: 15px;
}
.required:after{
  content:"*";
  color:#f00;
}
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.responsive {
  width: 100%;
  height: auto;
}
