<div class="container" id="container">
    <div class="col-sm-12" class="form-control">
      <form>
        <div class="col-sm-12 text-right">
          <p>
              <div class="btn-group nopadding">
            <button class="btn btn-link" ui-sref="templates.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
            <button class="btn btn-link" ui-sref="templates.edit({templateId:$resolve.templateId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
            <button class="btn btn-link" ng-click="$ctrl.deletetemplate($resolve.template)"><i class="fa fa-trash fa-lg text-danger"></i></button>
              </div>
          </p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8" >
              <!-- <label for="templatename"style="padding-top:8px">tempalte Name</label> -->
          <div class="text-center" style="background-color:lightgray">
            <h2><span class="text-center"ng-model="$resolve.template.templatename"  ng-bind-html="$resolve.template.templatename"></span></h2>
          </div>
          <div class="col-sm-12">
            <br><br>
              <p span ng-model="$resolve.template.description"  ng-bind-html="$resolve.template.description"></span></p>
              </div>
        </div>
      </form>
    </div>
        </div>
