<div class="container" id="container">
    <div class="col-sm-12"class="form-control">
      <form >
        <div class="col-sm-8" >
              <!-- <label for="templatename"style="padding-top:8px">tempalte Name</label> -->
          <div class="text-center" style="background-color:lightgray">
            <h2><span class="text-center"ng-model="$resolve.template.templatename"  ng-bind-html="$resolve.template.templatename"></span></h2>
          </div>
            <br><br>
                <span ng-model="$resolve.template.description"  ng-bind-html="$resolve.template.description"></span>

        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <p class="text-right">
              <div class="btn-group nopadding">
            <button class="btn btn-link" ui-sref="templates.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
            <button class="btn btn-link" ui-sref="templates.edit({templateId:$resolve.templateId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
            <button class="btn btn-link" ng-click="$ctrl.deletetemplate($resolve.template)"><i class="fa fa-trash fa-lg text-danger"></i></button>
              </div>
          </p>
          <div class=" panel panel-default">
              <div class=" col sm-12 text-center panel-heading" >
                <h5 class="text-capitalize text-primary">Added Params:</h5>
              </div>
              <div class="panel-body">
                <div class="col-sm-12">
                  <label for="tid"style="padding-top:8px">Template Id</label>
                  <input type="text" class="form-control"  id="tid"name="tid" ng-model="$resolve.template.tid" ng-disabled="true">
                </div>
                <div class="col-sm-12"  ng-repeat="x in $resolve.template.params">
                  <!-- <label for="name" class="text-capitalize">{{param.name}}</label> -->
                  <label for="name" class="text-capitalize">{{ x.name}}</label>
                  <input type="text" class="form-control" name="name" id="name" ng-model="x.value" ng-disabled="true">

                </div>
              </div>
            </div>
          <br>
      </form>
          </div>
          <h1 class="col-sm-12">
          <div class="col-sm-12 text-right">
                      <button class="btn btn-danger" ui-sref="templates.generate({templateId:$resolve.templateId})">Generate</button>
          </div>
        </h1>
    </div>
