<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1>List of Holidays:<span class="badge"> {{$ctrl.holiday.length}}</span></h1>
    </div>
  </div>

  <div class=" panel panel-default">
    <div class = "panel-heading">
    <div class="row">
  <!-- <div class="container-fluid"> -->

  <div class="col-sm-8 form-group">
      <lable>Date From :</lable><input type="date" id="" ng-model="$ctrl.fromDate" placeholder="select from date.">
      <i class ="glyphicon glyphicon-calendar fa-2x" style="color:green; margin-top:10px"></i>

      <lable>To:</lable> <input type="date" id="" ng-model="$ctrl.toDate" placeholder="select to date.">
      <i class ="glyphicon glyphicon-calendar fa-2x"style="color:green;"></i>
      <button type="button" class="btn btn-primary" style="margin-left:30px"
      ng-click="$ctrl.fetchHolidays($ctrl.fromDate, $ctrl.toDate)" ng-disabled="!($ctrl.toDate && $ctrl.fromDate)">GO</button>
      <button type="submit" class="btn btn-primary" ng-click= "$ctrl.reset()">Reset</button>
      </div>
    <div class="col-sm-4">
      <!-- <button class = "pull-right btn btn-primary " data-toggle="modal" style="margin-top:8px" ui-sref="holiday.new">Add Holiday</button></h1> -->

  <button class="pull-right btn btn-primary" data-toggle="modal" ui-sref="holiday.new" data-target='_blank'>
  ADD Holiday
</button>  </div>
</div>
</div>
<div class= "panel-body">
<div class="table-responsive">
         <table class="table table-striped" border="1" style="width: 100%; height:80%;">
             <thead>
               <tr>
                 <th>S.no</th>
                 <th>Name of the Holiday</th>
                 <th>Date</th>
                 <th>Summary</th>
               </thead>
               <tbody>
                 <tr ng-repeat="holidaylist in $ctrl.holidaylist ">
                  <td> {{ $index + 1 }}</td>
                 <td><a ui-sref="holiday.info({holidayId: holidaylist._id})">{{holidaylist.title}}</a></td>
                 <td>{{holidaylist.date | date :  "dd/MM/yyyy"}}</td>
                 <td>{{holidaylist.summary}}</td>
              </tr>
              </tbody>
          </table>
        </div>
    </div>
  </div>
   <!-- <div class="row">
    <div class="col-sm-3" ng-repeat="holiday in $ctrl.holiday">
      <div class=" panel panel-default">
        <div class="text-center panel-body">
          <h3 class="text-capitalize text-primary">{{holiday.title}}</h3>
          <p class="lead">{{holiday.data}}</p>
          <p class="lead">{{holiday.summary}}</p>
          <a class=" panel-footer btn btn-link" ui-sref="holiday.info({holidayId:holiday._id})"  uib-tooltip="{{hoilday.name}}">Info</a>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="container-fluid" ng-if="!$ctrl.holidayList.length==0">
  <div class="row text-center">
    <h1 class="text-warning">Ooops!</h1>
    <p class="text-muted lead">No data to display.</h1>
  </div>
</div>
</div>
