<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-capitalize">Hey , {{$ctrl.getCurrentUser().name}}!</h1>
      <div class="lead">Some numbers should show up here!</div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <h3 class="text-capitalize"><i class="fa fa-tasks text-info"></i> TODOs<small class="badge">{{$ctrl.todos.length}}</small></h3>
          <h4 class="text-capitalize">{{$ctrl.getCurrentUser().name}}</h4>
        </div>
        <div class="col-sm-6 text-right">
          <h3 class="text-capitalize"><a class="btn btn-link"><i class="fa fa-plus text-primary"></i></a></h3>
        </div>
      </div>
      <div class="col-sm-12">
        <form >
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" ng-model="$ctrl.todo.title" placeholder="Task title here.">
            <p class="help-block">Task title here.</p>
          </div>
          <div class="form-group">
            <label for="summary">Summary</label>
            <input type="text" class="form-control" id="summary" ng-model="$ctrl.todo.summary" placeholder="A brief about the task.">
            <p class="help-block">A brief about the task.</p>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addTodo()">Add</button>
        </form>
      </div>
      <div class="col-sm-12">
        <h3 class="text-capitalize"><i class="fa fa-tasks text-info"></i> Recent</h3>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="todo in $ctrl.todos">{{todo.title}}</li>
        </ul>
      </div>
    </div>
  </div>
