<div class="container">
    <!-- <div class=" jumbotron jumbotron-fluid col-sm-12">
      <div class="col-sm-6">
        <h1> template:<strong class="text-primary">{{$resolve.template.name}}</strong></h1>
      </div>
    </div> -->
    <div class="col-sm-12">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="templates.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
        </div>
      </h1>
    </div>
    <div class="col-sm-12">
      <form name="myForm">
        <div class="col-sm-6">
          <label for="tid" class="text-muted" style="padding-top:8px"><span class="required">Template Id</span></label>
          <input type="text" class="form-control"name="tid"  id="tid" ng-model="$resolve.template.tid" ng-required="true">
          <span style="color:red" ng-if="myForm.tid.$error.required && $ctrl.submitted"> Templatename is Required</span>
        </div>
        <div class="col-sm-5">
          <label for="templatename"class="text-muted" style="padding-top:8px"><span class="required">Templatename</span></label>
          <input type="text" class="form-control"name="templatename"  id="templatename" ng-model="$resolve.template.templatename" ng-required="true">
          <span style="color:red" ng-if="myForm.templatename.$error.required && $ctrl.submitted"> Templatename is Required</span>
        </div>
        <div class="col-sm-11">
          <label for="description" class="text-muted" style="padding-top:8px"><span class="required">Description</span></label>
          <ng-quill-editor  id="summary" name="description"ng-model="$resolve.template.description" placeholder="Enter description">
          <div class="ql-toolbar ql-snow"></div>
          </ng-quill-editor>
        </div>
        <div class="col-sm-11">
          <div class="btn-group pull-right"style="margin:20px">
            <button type="button" class="btn btn-default" ui-sref="templates.list" >Discard</button>
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.updatetemplate(myForm, $resolve.template)">Save</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="col-sm-3">
      <br>
      <div class=" panel panel-default">
          <div class=" col sm-12 text-center panel-heading" >
            <h5 class="text-capitalize text-primary">Edit Param Values:</h5>
          </div>
          <div class="panel-body">
            <div class="col-sm-12"  ng-repeat="x in $resolve.template.params">
              <label for="name" class="text-capitalize">{{ x.name}}</label>
              <input type="text" class="form-control" name="name" id="name" ng-model="x.value">

            </div>
          </div>
        </div>
      <br>

      </div> -->
</div>
