<div class="container-fluid">
    <div class="col-sm-12 jumbotron jumbotron-fluid">
      <div class="col-sm-6 nopadding">
      <h1> Role:<strong class="text-primary">{{$resolve.job.title}}</strong></h1>
        </div>
        <!-- <small>  {{$resolve.job.jobId}}</small> -->

    <div class="col-sm-6 jumbotron jumbotron-fluid btn-group nopadding">
      <h1 class="text-right">
          <button class="btn btn-link" ui-sref="jobs.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ui-sref="jobs.edit({jobId:$resolve.jobId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteJob($resolve.job)"><i class="fa fa-trash fa-lg text-danger"></i></button>
      </h1>
    </div>
  </div>
    <div class="col-sm-12 jumbotron "style="background-color:rgb(250,246,250)">
      <form>
        <div class="col-sm-12">
          <label for="title">Job Title</label>
          <input type="text" class="form-control" id="title" ng-model="$resolve.job.title" ng-disabled="true">
        </div>
        <div class="col-sm-12">
          <label for="description">Job Description</label>
          <textarea type="text" class="form-control" id="description" ng-model="$resolve.job.description" ng-disabled="true"></textarea>

        </div>
        <div class="col-sm-6">
          <label for="keywords">Keywords</label>
          <input type="text" class="form-control"  id="Keyword" ng-model="$resolve.job.keyword" ng-disabled="true"></input>

        </div>
        <div class="col-sm-6">
          <label for="cn">Company_Name</label>
          <input type="text" class="form-control"  id="cn" ng-model="$resolve.job.cn" ng-disabled="true"></input>

        </div>
        <div class="col-sm-6">
          <label for="annual">Annual_CTC</label>
          <input type="number" class="form-control"  id="annual" ng-model="$resolve.job.annual" ng-disabled="true"></input>

        </div>
        <div class="col-sm-6">
          <label for="nov">No_Of_Vacancies</label>
          <input type="number" class="form-control"  id="nov" ng-model="$resolve.job.nov" ng-disabled="true"></input>


        </div>
        <div class="col-sm-6">
          <label for="type">Job_Type</label>
          <input type="text" class="form-control"  id="type" ng-model="$resolve.job.type" ng-disabled="true"></input>

        </div>

        <div class="col-sm-6">
          <label for="np">Notice_Period</label>
          <input type="number" class="form-control"  id="np" ng-model="$resolve.job.np" ng-disabled="true"></input>


        </div>
        <div class="col-sm-6">
          <label for="experience">Work Experience</label>
          <input class="form-control"  id="experience" ng-model="$resolve.job.experience" ng-disabled="true"></input>

        </div>
        <div class="col-sm-6">
          <label for="industry">Industry</label>
          <input type="text" class="form-control"  id="industry" ng-model="$resolve.job.industry" ng-disabled="true"></input>

        </div>


        <div class="col-sm-6">
          <label for="role">Job Role</label>
        <input class="form-control" type="text" id="role" ng-model="$resolve.job.role" ng-disabled="true"></input>
      </div>

        <div class="col-sm-6">
          <label for="location">Location</label>
          <input type="text" class="form-control"  id="location" ng-model="$resolve.job.location" ng-disabled="true"></input>

        </div>


        <div class="col-sm-6">
          <label for="area">Functional Area</label>
          <input type="text" class="form-control"  id="area" ng-model="$resolve.job.area" ng-disabled="true"></input>

        </div>


      </form>
    </div>


</div>
