
<h1> Hello,  <small> says <strong class="text-capitalize">{{$resolve.name}}</strong></small></h1>
<div class="container-fluid">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <h1> Pawn:<strong class="text-capitalize">{{$resolve.pawn.name}}</strong><small>{{$resolve.pawnId}}</small></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="pawns.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deletePawn($resolve.pawn)"><i class="fa fa-trash fa-lg text-danger"></i></button>
        </div>
      </h1>
    </div>
  </div>

  <div class="col-sm-12"></div>
</div>
