<div  class="container">
  <div class = "table-responsive">
    <table id="mytable" class="table table-striped table-bordered table-list" >
      <caption><h1 class="text-center" ><strong>Payroll</strong></h1></caption>

      <div class="col-sm-12 btn-group nopadding">
        <h1 class="text-right">
          <button class="btn btn-link" ui-sref="payroll.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <!-- <button class="btn btn-link" ><i class="fa fa-pencil fa-lg text-primary"></i></button> -->
          <!-- <button class="btn btn-link" ng-click="$ctrl.deletepayroll($resolve.payroll)"><i class="fa fa-trash fa-lg text-danger"></i></button> -->
        </h1>
        <div class="col-sm-12">
          <tbody>
            <tr>
              <td>
                <label>Ctc </label>
              </td>
              <td>
                <input type="number" class="form-control" id="" name="Ctc"ng-model="$resolve.payroll.Ctc" placeholder="Enter Ctc here." >
              </td>
              <tr>
                <td>
                  <label>	Variable </label>
                </td>
                <td>
                  <input type="number" class="form-control" id="Variable"name="Variable" ng-model="$resolve.payroll.Variable" placeholder="Enter variable here." >
                </td>
              </tr>
            </div>
            <tr>
              <th>COMPONENTS</th>
              <th>DEDUCTIONS</th>
            </tr>
            <tr><td>
              <div class="col-sm-6">
                <label> HRA </label>
              </div>
              <div class="col-sm-6">
                <input type="number"class="form-control" id="Hra" name="Hra"ng-model="$resolve.payroll.Hra" placeholder="Enter HRA here." >
              </div>
            </td>
            <td>
              <div class="col-sm-6">
                <label>	PF  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
              </div>
              <div class="col-sm-6">
                <input type="number"class="form-control" id="Pf" name="Pf"ng-model="$resolve.payroll.Pf" placeholder="Enter PF here." >
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-sm-6">
                <label>Basic allowance </label>
              </div>
              <div class="col-sm-6">
                <input type="number"class="form-control" id="Basicallowance" name="Basicallowance"ng-model="$resolve.payroll.Basicallowance" placeholder="Enter Basic allowance here." >
              </div>
            </td>
            <td>
              <div class="col-sm-6">
                <label>	PT</label>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="Pt" name="Pt" ng-model="$resolve.payroll.Pt" placeholder="Enter PT here." >
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="col-sm-6">
                <label>	Travel allowance </label>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="Travelallowance" name="Travelallowance" ng-model="$resolve.payroll.Travelallowance " placeholder="Enter Travel allowance  here." >
              </div>
            </td>
            <td>
              <div class="col-sm-6">
                <label>EMI</label>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="Emi" name="Emi" ng-model="$resolve.payroll.Emi" placeholder="Enter EMI here." >
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-sm-6">
                <label>Medical allowance</label>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="Medicalallowance" name="Medicalallowance" ng-model="$resolve.payroll.Medicalallowance" placeholder="Enter Medical allowance here." >
              </div>
            </td>
            <td>
              <div class="col-sm-6">
                <label>ESI </label>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="Esi" name="Esi" ng-model="$resolve.payroll.Esi" placeholder="Enter ESI here." >
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="col-sm-6">
                <label>Subtotal</label>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="Subtotal" name="Subtotal"ng-model="$resolve.payroll.Subtotal" placeholder="Enter Total here." >
              </div>
            </td>
            <td>
              <div class="col-sm-6">
                <label>Total </label>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="Total" name="Total" ng-model="$resolve.payroll.Total" placeholder="Enter Total here." >
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="col-sm-12">
                <label>	Grosstotal</label>
              </td>
              <td>
                <input type="" class="form-control" id="Grosstotal" ng-model="$resolve.payroll.Grosstotal" placeholder="Enter Grosstotal here." >
              </td>
            </tr>
          </div>
        </tbody>
      </table>


      <div class="col-sm-12">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-link" ui-sref="payroll.list" >Discard</button>
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.updatepayroll()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
