<div class="container">
  <div class="panel panel-default">
    <div class="panel panel-primary">
  <div class="panel-heading">
     <div class="row">
       <div class="col-sm-6">
    <h1>Ticket  {{$ctrl.newticket.subject}}</h1>

  </div>
  <div class="col-sm-6">
    <button type="submit" style = "padding-top: 10px;" ui-sref="ticket.list" class=" pull-right btn btn-default text-right">Tickets</button>
  </div>

</div>

</div>

</div>
<div class="panel-body">
  <form name="myForm">
    <div  class="col-sm-6" class="form-group">
      <label for="subject" class="text-muted"><span class="required">Subject</span></label>
      <input type="text" class="form-control" id="subject" name="subject" ng-model="$ctrl.newticket.subject" placeholder="Ticket Subject here." ng-required ="true">
      <span style="color:red" ng-show="myForm.subject.$touched && myForm.subject.$invalid" >Subject is required.</span>

      <!-- <span style="color:red" ng-show="myForm.title.$error.minlength">please enter atleast 3 characters</span>
       <span style="color:red" ng-show="myForm.title.$error.maxlength">Not exceed 10 characters.</span> -->

    </div>
    <div class="col-sm-6" class="form-group">
      <label for="type" class="text-muted"><span class="required">Select Type</span></label>
      <ui-select name="type" ng-model="$ctrl.newticket.type" theme="bootstrap" ng-required ="true">
        <ui-select-match placeholder="Select or search a type in the list...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="type in $ctrl.type | filter: $select.search">
          <div ng-bind-html="type | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span style="color:red" ng-show="myForm.type.$touched && myForm.type.$invalid">Type is required.</span>
    </div>

    <div class="col-sm-12" class="form-group">
      <label for="description" class="text-muted"><span class="required">Description</span></label>
      <ng-quill-editor  id="description" name="description" ng-model="$ctrl.newticket.description" placeholder="Enter description." ng-required ="true">
        <div class="ql-toolbar ql-snow"></div>
      </ng-quill-editor>
      <span style="color:red" ng-show="myForm.description.$touched && myForm.description.$invalid">description is required.</span>
       <span style="color:red" ng-show="myForm.descrip.$error.maxlength">Not exceed 300 characters.</span>

    </div>

    <!-- <div  class="col-sm-6" class="form-group">
      <label for="type" class="text-muted"><span class="required"> Select Type</span></label>
      <input type="text" class="form-control"  id="type" name="type" ng-model="$ctrl.newticket.type" placeholder="Type" ng-required ="true">
      <span style="color:red" ng-if="myForm.type.$error.required && $ctrl.submitted">Type is required.</span>

    </div> -->

    <!-- <div  class="col-sm-6" class="form-group">
      <label for="owner" class="text-muted"><span class="required">Owner</span></label>
      <input type="text" class="form-control"  id="owner" name="owner" ng-model="$ctrl.newticket.owner" placeholder="Owner" ng-required ="true">
      <span style="color:red" ng-if="myForm.owner.$error.required && $ctrl.submitted">Owner is required.</span>

    </div>


    <div  class="col-sm-6" class="form-group">
      <label for="assignee" class="text-muted"><span class="required">Assignee</span></label>
      <input type="text" class="form-control"  id="assignee" name="assignee" ng-model="$ctrl.newticket.assignee" placeholder="assignee" ng-required ="true">
      <span style="color:red" ng-if="myForm.assignee.$error.required && $ctrl.submitted">Assignee is required.</span>

    </div>

    <div  class="col-sm-6" class="form-group">
      <label for="comments" class="text-muted"><span class="required">Comments</span></label>
      <input type="text" class="form-control"  id="comments" name="comments" ng-model="$ctrl.newticket.comments" placeholder="comments" ng-required ="true">
      <span style="color:red" ng-if="myForm.comments.$error.required && $ctrl.submitted">Comments is required.</span>

    </div> -->

      </form>
  </div>
  </div>


    <div class="panel-footer clearfix">
    <div  class="col-sm-12" class="form-group">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ui-sref="ticket.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ui-sref="ticket.list" ng-click="$ctrl.addTicket(myForm)">Raise-Ticket</button>
      </div>
    </div>
    </div>


</div>
