<div class="container-fluid">
    <div class="col-sm-12 jumbotron">
      <div class="col-sm-8">
      <h2> EmployeeId:<strong class="text-primary">{{$resolve.timesheet.empId}}</strong></h2>
        </div>

    <div class="col-sm-4">
      <h1 class="text-right">
          <button class="btn btn-link" ui-sref="timesheets.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ui-sref="timesheets.edit({timesheetId:$resolve.timesheetId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteTimesheet($resolve.timesheet)"><i class="fa fa-trash fa-lg text-danger"></i></button>
      </h1>
    </div>
  </div>
</div>
<div class="container">
<form name="myForm" class="form-horizontal">
<div class="form-group">
  <div class=" col-sm-6">
       <label for="empName" class="text-muted" class="control-label col-sm-6"><span class="required">EmpName:</span></label>
       <div class="input-group" class="col-sm-6">
         <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  type="text" class="form-control" id="empName" name="empName"  ng-model="$resolve.timesheet.empName" placeholder="Enter Emp-Name." ng-disabled="true">
          <!-- <span style="color:red" ng-if="myForm.empName.$error.required && $ctrl.submitted">empName is required.</span> -->
      </div>
  </div>
  <div class=" col-sm-6">
       <label for="empId" class="text-muted" class="control-label col-sm-6"><span class="required">EmployeeId:</span></label>
       <div class="input-group" class="col-sm-6">
         <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  type="text" class="form-control" id="empId" name="empId"  ng-model="$resolve.timesheet.empId" placeholder="Enter EmployeeId." ng-disabled="true">
          <!-- <span style="color:red" ng-if="myForm.employeeId.$error.required && $ctrl.submitted">employeeId is required.</span> -->
      </div>
  </div>

<div class=" col-sm-4">
     <label for="weeknumber" class="text-muted" class="control-label col-sm-6"><span class="required">WeekNumber:</span></label>
     <div class="input-group" class="col-sm-6" >
       <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
        <input  type="number" class="form-control" id="weeknumber" name="wnum"  ng-model="$resolve.timesheet.weeknumber" placeholder="Enter Which Week." ng-disabled="true">

    </div>
</div>
<div class=" col-sm-4">
     <label for="year" class="text-muted" class="control-label col-sm-6" ><span class="required">Year:</span></label>
     <div class="input-group" class="col-sm-6">
       <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
        <input type="number" class="form-control" id="year" name="year" ng-model="$resolve.timesheet.year" placeholder="Enter Which Year." ng-disabled="true">
        <!-- <span style="color:red" ng-if="myForm.year.$error.required && $ctrl.submitted">Year is required.</span> -->
    </div>
</div>
<div class=" col-sm-4">
     <label for="location" class="text-muted" class="control-label col-sm-6"><span class="required">Location:</span></label>
     <div class="input-group" class="col-sm-6">
       <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input  type="text" class="form-control" id="location" name="location"  ng-model="$resolve.timesheet.location" placeholder="Enter Location." ng-disabled="true">
        <!-- <span style="color:red" ng-if="myForm.location.$error.required && $ctrl.submitted">Location is required.</span> -->
    </div>
</div>

</div>
<div class=" panel panel-default panel-table">
<div class = "panel-heading">
<div class="row">
<!-- <div class="container-fluid"> -->
<div class="col-sm-6 ">
<label for="from" class="text-muted" ng-init="$ctrl.convertDate($resolve.timesheet.date)"><span class="required">From</span></label>
<!-- <input type="date" id="from" name="from" ng-model="$ctrl.newtimesheet.from" placeholder="select from date." ng-required ="true">
<i class ="glyphicon glyphicon-calendar fa-2x" style="color:green"></i>
<span style="color:red" ng-if="myForm.from.$error.required && $ctrl.submitted">From Date is required.</span> -->
<!-- <p class="input-group"> -->
<datetimepicker hidden-time="true" date-format="dd-MM-yyyy" date-options="{minDate:$ctrl.today}"  ng-model="$resolve.timesheet.from" >
</datetimepicker>
<i class ="glyphicon glyphicon-calendar fa-2x" style="color:green; font-size:20px"></i>
<!-- <span class="input-group-btn">
<button type="button" class="btn btn-primary" ng-click="$ctrl.showcalendar($event)">
   <i class="glyphicon glyphicon-calender">From</i>
 </button>
</span> -->
<!-- </p> -->
</div>
<div class="col-sm-6 text-right">
<label for="to" class="text-muted" ng-init="$ctrl.convertDate($resolve.timesheet.date)"><span class="required">To</span></label>
<!-- <input type="date" id="to" name="to" ng-model="$ctrl.newtimesheet.to" placeholder="select to date." ng-required ="true">
<i class ="glyphicon glyphicon-calendar fa-2x" style="color:green;"></i>
<span style="color:red" ng-if="myForm.to.$error.required && $ctrl.submitted">To Date is required.</span> -->
<!-- <p class="input-group"> -->
  <datetimepicker hidden-time="true" date-format="dd-MM-yyyy" date-options="{minDate:$ctrl.today}"  ng-model="$resolve.timesheet.to" ng-disabled="true">
  </datetimepicker>
  <i class ="glyphicon glyphicon-calendar fa-2x" style="color:green; font-size:20px"></i>
  <!-- <input class="form-control" type="text" uib-datepicker-popup="dd/MM/yyyy" ng-model = "$ctrl.newtimesheet.to"  />
  <span class="input-group-btn">
  <button type="button" class="btn btn-primary" ng-click="$ctrl.showcalendar($event)">
     <i class="glyphicon glyphicon-calender">To</i>
   </button>
 </span> -->
<!-- </p> -->
</div>

<!-- <div class="col-sm-4 text-right">
<button type="button" class="btn btn-success btn-md" style="margin-top:20px" ng-click="$ctrl.fetchWeekDates($ctrl.newtimesheet.from,$ctrl.newtimesheet.to)">Go</button>
</div> -->


<!-- <button type="button" class="btn btn-success" style="margin-left:30px" ng-click="!$ctrl.fetchWeekDates($ctrl.newtimesheet.from,$ctrl.newtimesheet.to)">Go</button> -->
</div>

</div>

<div class = "panel-body">
<div class="table-responsive">
<table id="mytable" class="table table-striped table-bordered table-list" >
  <div class="col-sm-12">
  <thead>
    <tr>
      <th style="text-align: center;">Timesheet_Date</th>
     <th style="text-align: center;">ManHours</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat = "weekDate in $resolve.timesheet.entries">
      <td >
        <span>{{weekDate.tsdate | date : " EEEE" }}</span>
      </td>
       <td >
         <span>{{weekDate.tsdate | date : " dd-MM-yyyy" }}</span>
       </td>
       <td style="text-align:center;">
         <input type = "number" class="form-control" id="mhours" name="mhours"
          ng-model = "weekDate.manhours" placeholder="working hours here." ng-keyup="$ctrl.timesheetCalculations(weekDate.manhours)" ng-disabled="true" >
       </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
<!-- <div class="panel-footer"> -->
  <div class="row">
      <!-- <div class="col col-xs-offset-3 col-xs-6"> -->
<div  class="col-sm-12 text-right" class="form-group">
<label for="total" class="text-muted text-center"><span class="required">Total</span></label>
<div class="contentcontainer med right" style="margin-left: 850px; width:50%;">
<input type="number" class="form-control" id="total" name="total" style="width:50%;" ng-model="$resolve.timesheet.total" placeholder="Total working hours" ng-disabled="true">
<!-- <span style="color:red" ng-if="myForm.total.$error.required && $ctrl.submitted">total is required.</span> -->
</div>
</div>

<div  class="col-sm-12 text-right" class="form-group">
<label for="approvedBy" class="text-muted text-center"style="margin:8px"><span class="required">ApprovedBy</span></label>
<div class="contentcontainer med right" style="margin-left: 850px; width:50%;">
<input type="text" class="form-control" id="approvedBy" name="approvedBy" style="width:50%;" ng-model="$resolve.timesheet.approvedBy" placeholder="Approved By" ng-disabled="true">
<!-- <span style="color:red" ng-if="myForm.approvedBy.$error.required && $ctrl.submitted">ApprovedBy is required.</span> -->
</div>
</div>

</div>

</div>
</form>

  </div>
