<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1> Employees <span class="badge"> {{$ctrl.employees.length}}</span></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="employees.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  
</div>

<div class="container-fluid" ng-if="!$ctrl.employees.length">
  <div class="row text-center">
    <h1 class="text-warning">Ooops!</h1>
    <p class="text-muted lead">No data to display.</h1>
  </div>
</div>
