<div class="container-fluid">
  <div class="col-sm-12 text-right">
    <p >
      <div class=" btn-group">
        <button class="btn btn-link" ui-sref="templates.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
      </div>
    </p>
  </div>
      <div class="col-sm-9">
        <form name="myForm">
          <div class="col-sm-6">
            <label for="templatename" class="text-muted"><span class="required">Template Name</span></label>
            <input type="text" class="form-control" name="templatename" id="templatename" ng-model="$ctrl.newtemplate.templatename" placeholder="Template Name here.">
          </div>
          <div class="col-sm-6">
            <label for="tid"class="text-muted" ><span class="required ">Template Id</span></label>
            <input type="text" class="form-control" id="tid" name="tid" ng-model="$ctrl.newtemplate.tid" placeholder="Tempalte Id here." ng-required ="true">
            <span style="color:red" ng-if="myForm.tid.$error.required && $ctrl.submitted">Template ID is required </span>
          </div>
          <div class="col-sm-12">
            <h1 class="text-center"style="background-color:gray;color:black" id="heading" name="heading">{{$ctrl.newtemplate.templatename}}</h1>
          </div>
          <div class="col-sm-12" >
            <ng-quill-editor  id="descrption" name="description" ng-init="$ctrl.result=$ctrl.newtemplate.description" ng-model="$ctrl.result" placeholder="Enter description">
              <div class="ql-toolbar ql-snow"></div>
            </ng-quill-editor>
          </div>
          <div class="col-sm-6">
            <div class="btn-group pull-left" style="margin:15px">
              <button type="button" class="btn btn-default" ng-click="$ctrl.lookupParams($ctrl.result)">Refresh</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="btn-group pull-right" style="margin:15px">
              <button type="button" class="btn btn-default" ng-click="$ctrl.updateParam()"  >Update</button>
              <button type="button" class="btn btn-default" ui-sref="templates.list" >Discard</button>
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.addtemplate(myForm)">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-3">
        <br>
        <div class=" panel panel-default">
            <div class="text-center panel-heading" >
              <h6 class="text-capitalize text-primary">Params</h6>
            </div>
            <div class="panel-body">
              <div class="col-sm-12" ng-repeat=" param in $ctrl.params">
                <label for="name" class="text-capitalize">{{param.name}}</label>
                <input type="text" class="form-control" name="name" id="name" ng-model="param.value">
              </div>
              <!-- <div class="col-sm-12">
                <div class="text-right">
                  <a ng-click="$ctrl.add()"  class="btn btn-link"><i class="fa fa-plus  text-primary"></i></a>
                </div>
              </div> -->
              <!-- <div ng-if="$ctrl.add==true" class="col-sm-12" >
                <form class="thing-form" >
                  <label>Add a new Params here.</label>
                  <p class="input-group">
                    <input type="text" class="form-control" placeholder="name here." ng-model="$ctrl.param.name">
                    <input type="text" class="form-control" placeholder="value here." ng-model="$ctrl.param.value">
                  </p>
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary pull-right" ng-click="$ctrl.addParam($ctrl.param)">Add</button>
                  </span>
                </form>
              </div> -->
            </div>
          </div>
      </div>
</div>
