<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1> Client <span class="badge"> {{$ctrl.clients.length}}</span></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="clients.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" ng-repeat="client in $ctrl.clients">
      <div class=" panel panel-default">
        <div class="text-center panel-heading" >
          <h3 class="text-capitalize text-primary">{{client.name}}<a class="btn btn-link" ng-href="{{client.weburl}}" target="_blank" ><i class="glyphicon glyphicon-tower"></i></a></h3>
        </div>
        <div class="text-center panel-body">
          <p class="lead">{{client.companysize}}</p>
          <p class="lead">{{client.companytype}}</p>
          <p class="lead">{{client.location}}</p>
        </div>
        <div class="text-center panel-footer">
          <a class="btn btn-link " ui-sref="clients.info({clientId:  client._id})"  uib-tooltip="{{clients.name}}">Info</a>
        </div>
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid" ng-if="!$ctrl.clients.length">
  <div class="row text-center">
    <h1 class="text-warning">Ooops!</h1>
    <p class="text-muted lead">No data to display.</h1>
  </div>
</div>
