<div class="container-fluid">
  <uib-tabset active="activeJustified" justified="true">
  <uib-tab index="1" heading="EMPLOYEE LEAVES ">
  <div class=" panel panel-default" >
    <div class="panel-heading"style="background-color:black">
        <caption><h3 class="text-center"style ="color:white;">EMPLOYEE LEAVES</h3></caption>
      </div>
        <h1 class="text-right"><button class="btn btn-primary" ui-sref="leaverequest.new"> Add Leave Request</button></h1>
      <div class= "panel-body">
        <div class="table-responsive">
                 <table class="table table-striped" border="1" style="width: 100%; height:50%;">
                     <thead>
                       <tr>
                         <th>S.no</th>
                         <th>Employee Name</th>
                         <th>Employee Id</th>
                         <th>Department</th>
                         <th>Employee Status </th>
                         <th>Leave type </th>
                         <th>From Date </th>
                         <th>To Date</th>
                         <th>No Of Days</th>
                         <th>Leave Status</th>
                         <th>Approved By</th>
                     </thead>
                       <tbody>
                         <tr ng-repeat="leaverequest in $ctrl.leaverequest">
                          <td>{{ $index + 1 }}</td>
                          <td><a ui-sref="leaverequest.info({leaverequestId:  leaverequest._id})">{{ leaverequest.empname }}</a></td>
                          <td>{{ leaverequest.empId }}</td>
                          <td>{{ leaverequest.department }}</td>
                          <td>{{ leaverequest.employeestatus }}</td>
                          <td>{{ leaverequest.leavetype }}</td>
                          <td>{{leaverequest.from | date :  "dd/MM/yyyy"}}</td>
                          <td>{{leaverequest.to | date :  "dd/MM/yyyy"}}</td>
                          <td>{{leaverequest.noofdays}}</td>
                          <td>{{ leaverequest.leavestatus }}</td>
                          <td>{{ leaverequest.appprovedby }}</td>
                      </tr>
                      </tbody>
                  </table>
                </div>
            </div>
          </div>

  </uib-tab>
  <uib-tab index="2" heading="LEAVES ENTITLEMENT">
  <div class=" panel panel-default">
    <div class="panel-heading"style="background-color:black">
        <caption><h3 class="text-center"style ="color:white;">LEAVES ENTITLEMENT</h3></caption>
      </div>
      <div class= "panel-body">
        <div class="table-responsive">
                 <table class="table table-striped" border="1" style="width: 100%; height:80%;">
                   <thead>
                     <tr>
                       <th>Leave Type</th>
                       <th>Avalilable Leaves</th>
                       <th>Pending Leaves</th>
                       <th>Approved Leaves </th>
                       <th>Rejected Leaves</th>
                       <th>Leave Accrue Enabled</th>
                       <th>Leave Carried Forward</th>
                     </thead>
                     <tbody>
                       <tr ng-repeat="leavetype in $ctrl.leavetype">
                        <td>{{ $index + 1 }}</td>
                        <td><a ui-sref="leaverequest.info({leaverequestId:  leaverequest._id})">{{ leaverequest.empname }}</a></td>
                        <td>{{ leaverequest.Vacation}}</td>
                        <td>{{ leaverequest.Annual Leave }}</td>
                        <td>{{ leaverequest.Sick leave }}</td>
                        <td>{{ leaverequest.Casual Leave }}</td>
                        <td>{{leaverequest.Earned Leave/PL}}</td>
                        <td>{{leaverequest.Maternity Leave}}</td>
                        <td>{{leaverequest.Paternity Leave}}</td>
                        <td>{{ leaverequest.Transfer Leave}}</td>
                        <td>{{ leaverequest.appprovedby }}</td>
                     </tr>
                     </tbody>
                     </table>
                     </div>
                     </div>
                     </div>
                     </uib-tab>
           </uib-tabset>
</div>































 <!-- <h1> List <small> {{$ctrl.todos.length}}</small></h1>
 <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1> Leave Requests:</h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-primary" ui-sref="leaverequest.new"><i class="glyphicon glyphicon-plus"></i></button></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" ng-repeat="leaverequest in $ctrl.leaverequest">
      <div class=" panel panel-default">
        <div class="text-center panel-body">
          <h3 class="text-capitalize text-primary">{{leaverequest.empname}}</h3>
          <p class="lead">{{leaverequest.leavetype}}</p>
          <p class="lead">{{leaverequest.leavestatus}}</p>
          <a class=" panel-footer btn btn-link" ui-sref="leaverequest.info({leaverequestId:  leaverequest._id})"  uib-tooltip="{{leaverequest.name}">Info</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
