<div class="container-fluid">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <h1> Employee:<strong class="text-capitalize">{{$resolve.employee.name}}</strong><small>  {{$resolve.employeeId}}</small></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="pawns.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deletePawn($resolve.pawn)"><i class="fa fa-trash fa-lg text-danger"></i></button>
        </div>
      </h1>
    </div>
  </div>

  <div class="col-sm-12"></div>


</div>
