<div class="col-sm-2">
  </div>
<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
  <div class="row">
    <div class="col-sm-8">
      <h2> My Tickets </h2>
    </div>
    <div class="col-sm-4">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="ticket.new"><i class="fa fa-plus fa-lg" style="color:white"></i></button></h1>
    </div>
  </div>
</div>

   <div class="panel-body">
   <div class="col-md-8">
    <div class="form-group">
    <div class="input-group">
    <input type="text" class="form-control"
    placeholder="Type Search" ng-model="searchText.type" id="inputGroup"/>
                         <span class="input-group-addon">
                             <i class="fa fa-search"></i>
                         </span>
                     </div>
                 </div>
     </div>
     <div>
     <table class="table table-bordered">
       <thead>
      <tr>
         <th>Subject</th>
         <th>Type</th>
         <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ticketlist in $ctrl.ticket  | filter :searchText">
        <td><a ui-sref="ticket.info({ticketId:ticketlist._id})">{{ticketlist.subject}}</a></td>
        <td><a>{{ticketlist.type}}</a></td>
        <td><a>{{ticketlist.status}}</a></td>
      </tr>
    </tbody>
   </table>
 </div>
</div>
</div>
</div>
