<div class="container">
  <div class="col-sm-12">
      <h1><div class="page-header" id="head-style" class="text-right">{{$ctrl.message}}</div></h1>
  </div>
  <form name="myForm" class="form-horizontal">
  <div class="form-group">
    <div class=" col-sm-6">
         <label for="empName" class="text-muted" class="control-label col-sm-6"><span class="required">EmpName:</span></label>
         <div class="input-group" class="col-sm-6" >
           <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  type="text" class="form-control" id="empName" name="empName"  ng-model="$ctrl.newtimesheet.empName" placeholder="Enter Emp name." ng-required ="true">
            <span id="validation-styles" ng-if="myForm.empName.$error.required && $ctrl.submitted">Emp-Name is required.</span>
        </div>
    </div>
    <div class=" col-sm-6">
         <label for="empId" class="text-muted" class="control-label col-sm-6"><span class="required">EmployeeId:</span></label>
         <div class="input-group" class="col-sm-6">
           <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  type="text" class="form-control" id="empId" name="empId"  ng-model="$ctrl.newtimesheet.empId" placeholder="Enter EmployeeId." ng-required ="true">
            <span  id="validation-styles" ng-if="myForm.empId.$error.required && $ctrl.submitted">employeeId is required.</span>
        </div>
    </div>
  <div class=" col-sm-4">
       <label for="weeknumber" class="text-muted" class="control-label col-sm-6"><span class="required">WeekNumber:</span></label>
       <div class="input-group" class="col-sm-6" >
         <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
          <input  type="number" class="form-control" id="weeknumber" name="wnum"  ng-model="$ctrl.newtimesheet.weeknumber" placeholder="Enter Which Week." ng-bind-html="$ctrl.newtimesheet.weeknumber" ng-required ="true">
          <!-- {{$ctrl.newtimesheet.weeknumber}} -->
          <span id="validation-styles" ng-if="myForm.wnum.$error.required && $ctrl.submitted">WeekNumber is required.</span>
      </div>
  </div>
  <div class=" col-sm-4">
       <label for="year" class="text-muted" class="control-label col-sm-6" ><span class="required">Year:</span></label>
       <div class="input-group" class="col-sm-6">
         <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
          <input type="number" class="form-control" id="year" name="year" ng-model="$ctrl.newtimesheet.year" placeholder="Enter Which Year."  ng-required ="true">
          <span id="validation-styles" ng-if="myForm.year.$error.required && $ctrl.submitted">Year is required.</span>
      </div>
  </div>
  <div class=" col-sm-4">
       <label for="location" class="text-muted" class="control-label col-sm-6"><span class="required">Location:</span></label>
       <div class="input-group" class="col-sm-6" >
         <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input  type="text" class="form-control" id="location" name="location"  ng-model="$ctrl.newtimesheet.location" placeholder="Enter Location." ng-required ="true">
          <span id="validation-styles" ng-if="myForm.location.$error.required && $ctrl.submitted">Location is required.</span>
      </div>
  </div>
</div>
<div class=" panel panel-default panel-table">
<div class = "panel-heading">
<div class="row">
<!-- <div class="container-fluid"> -->
<div class="col-sm-6">
<label for="from" class="text-muted"><span class="required">From</span></label>
<!-- <input type="date" id="from" name="from" ng-model="$ctrl.newtimesheet.from" placeholder="select from date." ng-required ="true">
<i class ="glyphicon glyphicon-calendar fa-2x" style="color:green"></i>
<span style="color:red" ng-if="myForm.from.$error.required && $ctrl.submitted">From Date is required.</span> -->

   <datetimepicker hidden-time="true" date-format="dd-MM-yyyy"  date-options="{minDate:$ctrl.today}" placeholder="DD-MM-YYYY" ng-model="$ctrl.newtimesheet.from"
    date-disabled="$ctrl.disabled(date,mode)" ng-change="$ctrl.fetchWeekNumber($ctrl.newtimesheet.from,$ctrl.newtimesheet.to)" >
  </datetimepicker>
 <i class ="glyphicon glyphicon-calendar fa-2x" id="datepicker-style" ></i>
  <!-- <input class="form-control" type="text" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.showdp"  ng-model = "$ctrl.newtimesheet.from" date-disabled="$ctrl.disabled($ctrl.date, $ctrl.mode)"  />
  <span class="input-group-btn">
  <button type="button" class="btn btn-primary" ng-click="$ctrl.showcalendar($event)">
     <i class="glyphicon glyphicon-calender">From</i>
   </button>
 </span> -->

</div>
<div class="col-sm-6 text-right">
  <label for="to" class="text-muted"><span class="required">To</span></label>
  <!-- <input type="date" id="to" name="to" ng-model="$ctrl.newtimesheet.to" placeholder="select to date." ng-required ="true">
  <i class ="glyphicon glyphicon-calendar fa-2x" style="color:green;"></i>
  <span style="color:red" ng-if="myForm.to.$error.required && $ctrl.submitted">To Date is required.</span> -->

    <datetimepicker hidden-time="true" date-format="dd-MM-yyyy" date-options="{minDate:$ctrl.today}"  placeholder="DD-MM-YYYY" ng-model="$ctrl.newtimesheet.to"
     date-disabled="$ctrl.disabled(date,mode)" ng-change="$ctrl.fetchWeekNumber($ctrl.newtimesheet.from,$ctrl.newtimesheet.to)" >
    </datetimepicker>
    <i class ="glyphicon glyphicon-calendar fa-2x" id="datepicker-style"></i>
    <!-- <input class="form-control" type="text" uib-datepicker-popup="dd/MM/yyyy" ng-model = "$ctrl.newtimesheet.to"  />
    <span class="input-group-btn">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.showcalendar($event)">
       <i class="glyphicon glyphicon-calender">To</i>
     </button>
   </span> -->


  <button type="button" class="btn btn-success" style="margin-left:30px" ng-click="$ctrl.fetchWeekDates($ctrl.newtimesheet.from,$ctrl.newtimesheet.to)">Go</button>
</div>


</div>

</div>

<div class = "panel-body">
<div class="table-responsive">
  <table name="mytable" class="table table-striped table-bordered table-list" >
    <div class="col-sm-12">
    <thead>
      <tr>
        <th>Days</th>
        <th>TimesheetDate</th>
        <th>ManHours</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "weekDate in $ctrl.newtimesheet.entries">
        <td>
          <span>{{weekDate.tsdate | date : " EEEE" }}</span>
        </td>
         <td >
           <span>{{weekDate.tsdate | date : " dd-MM-yyyy" }}</span>
         </td>
         <td style="text-align:center;">
           <input type = "number" class="form-control" id="mhours" name="mhours"
            ng-model = "weekDate.manhours"  maxlength="1"  pattern="\d{1}"  placeholder="working hours here."  ng-keyup="$ctrl.timesheetCalculations(weekDate.manhours)" ng-required="true" >
            <span id="validation-styles" ng-show="myForm.mhours.$error.required && $ctrl.submitted">ng-required.</span>
            <!-- ng-model = "$ctrl.newtimesheet.manhours[$index]" placeholder="working hours here."ng-keyup="$ctrl.timesheetCalculations($ctrl.newtimesheet.manhours)"> -->
         </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

<div class="row">
<div  class="col-sm-12 text-right" class="form-group">
 <label for="total" class="text-muted text-center"><span class="required">Total</span></label>
 <div class="contentcontainer med right" id="style">
 <input type="number" class="form-control" id="total" name="total" style="width:50%;" ng-model="$ctrl.newtimesheet.total" ng-keyup="$ctrl.timesheetCalculations($ctrl.newtimesheet.total)" placeholder="Total working hours" ng-required ="true">
 <div class="contentcontainer med right" style="margin-left: 850px; width:50%;">
 <input type="number" class="form-control" id="total" name="total" style="width:50%;" ng-model="$ctrl.newtimesheet.total" placeholder="Total working hours"ng-keyup="$ctrl.timesheetCalculations($ctrl.newtimesheet.total)" ng-required ="true">
 <!-- <span style="color:red" ng-if="myForm.total.$error.required && $ctrl.submitted">total is required.</span> -->
</div>
</div>

<div  class="col-sm-12 text-right" class="form-group">
 <label for="approvedBy" class="text-muted text-center" style="margin:8px"><span class="required">ApprovedBy</span></label>
 <div class="contentcontainer med right" id="style">
 <input type="text" class="form-control" id="approvedBy" name="approvedBy" style="width:50%;" ng-model="$ctrl.newtimesheet.approvedBy" placeholder="Approved By" ng-required ="true">
 <!-- <span style="color:red" ng-if="myForm.approvedBy.$error.required && $ctrl.submitted">ApprovedBy is required.</span> -->
</div>
</div>

<div  class="col-sm-12" class="form-group">
  <div class="btn-group pull-right">
    <!-- <button type="button" class="btn btn-default" ui-sref="jobs.list" >Discard</button> -->
    <button type="submit" class="btn btn-success btn-md" style="margin:15px" ng-click="$ctrl.submitTimesheet(myForm)">Submit</button>
  </div>
</div>
</div>

</div>
</form>

</div>
