
<h1> List <small> {{$ctrl.todos.length}}</small></h1>
<a ui-sref="pawns.new">new</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1> Pawns <span class="badge"> {{$ctrl.pawns.length}}</span></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="pawns.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" ng-repeat="pawn in $ctrl.pawns">
      <div class=" panel panel-default">
        <div class="text-center panel-body">
          <h3 class="text-capitalize text-primary">{{pawn.name}}</h3>
          <p class="lead">{{pawn.color}}</p>
          <a class=" panel-footer btn btn-link" ui-sref="pawns.info({pawnId:  pawn._id})"  uib-tooltip="{{pawn.name}}">Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
