<div style="background-color : DarkGray" class="container-fluid">
  <div class="col-sm-6">
    <h1 class="text-right">Department</h1>

    <!-- <h1 > Hey <strong class="text-capitalize">{{$ctrl.getCurrentUser().name}}</strong>! <br><small>{{$ctrl.message}}</small></h1> -->
  </div>
<div class="col-sm-12">
  <form >
    <div class="col-sm-6">
      <label for="title">Department Name</label>
      <!-- <input type="text" class="form-control" id="title" ng-model="$ctrl.newdepartments.name" placeholder="Enter department Name."> -->
      <ui-select ng-model="$ctrl.newdepartments.name" theme="bootstrap">
        <ui-select-match placeholder="Select or search a department in the list...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="department in $ctrl.departments | filter: $select.search">
          <div ng-bind-html="department | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <!-- <p style="color: red" class="help-block">Department gets a name.</p> -->
    </div>
    <div class="col-sm-6">
      <label for="title">Department Id</label>
      <input type="text" class="form-control" id="title" ng-model="$ctrl.newdepartments.id" placeholder="Enter department id.">

      <!-- <p style="color: red" class="help-block">Department gets an Id</p> -->
    </div>
    <div class="col-sm-12">
      <label for="summary">Summary</label>
      <textarea type="text" class="form-control"  id="summary" ng-model="$ctrl.newdepartments.summary" placeholder="Summary about the departments here."></textarea>
      <!-- <p style="color: red" class="help-block">Department can have a summary.</p> -->

      <p style="color: red" class="help-block">Department id is mandatory</p>
    </div>
    <div class="col-sm-12">
      <label for="summary">Summary</label>
      <textarea type="text" class="form-control" id="summary" ng-model="$ctrl.newdepartments.summary" placeholder="Summary about the departments here."></textarea>
      <p style="color: red" class="help-block">Department can have a summary.</p>

    </div>
    <div class="col-sm-12">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link" ui-sref="departments.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addDepartments()">Save</button>
      </div>
    </div>
  </form>
</div>
</div>
