<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="text-right"> Payroll <span class="badge"> {{$ctrl.payroll.length}}</span></h1>
    </div>
    <div class="col-sm-12">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="payroll.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>


    <div class="row">
      <div class="col-sm-4" ng-repeat="payrolls in $ctrl.payroll">
        <div class=" panel panel-default">
          <div class="text-center panel-body">
            <!-- <h3 class="text-capitalize text-primary">Grosstotal-{{payroll.Grosstotal}}</h3> -->
            <p class="lead">Grosstotal-{{payrolls.Grosstotal}}</p>
            <!-- <p class="lead">Variable-{{payrolls.Variable}}</p>
            <p class="lead">Hra-{{payrolls.Hra}}</p>
            <p class="lead">Pf-{{payrolls.Pf}}</p>
            <p class="lead">Basicallowance-{{payrolls.Basicallowance}}</p>
            <p class="lead">Pt-{{payrolls.Pt}}</p>
            <p class="lead">Travelallowance-{{payrolls.Travelallowance}}</p>
            <p class="lead">Emi-{{payrolls.Emi}}</p>
            <p class="lead">Medicalallowance-{{payrolls.Medicalallowance}}</p>
            <p class="lead">Esi-{{payrolls.Esi}}</p>
            <p class="lead">Subtotal-{{payrolls.Subtotal}}</p>
            <p class="lead">Total-{{payrolls.Total}}</p>
            <p class="lead">Gross-{{payrolls.Gross}}</p> -->




  <a class=" panel-footer btn btn-link" ui-sref="payroll.info({payrollId:  payrolls._id})" >Info</a>


</div>
</div>
</div>
</div>

<!--
<div class="container-fluid" ng-if="!$ctrl.Payroll.length">
  <div class="row text-center">
    <h1 class="text warning">Oops!</h1>
    <p class="text-muted lead">No data to display.</h1>
    </div>
  </div>
</div> -->
