<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid col-sm-12">
    <div class="col-sm-6 nopadding" >
      <h1>Contract <strong class="text-primary">{{$resolve.client.name}}</strong> <a class="btn btn-link" ng-href="{{$resolve.client.weburl}}" target="_blank" ><i class="glyphicon glyphicon-link"></i></a></h1>

    </div>
        <!-- <h1 class="text-right"> -->
          <div class="btn-group col-sm-6 nopadding">
            <h1 class="text-right">

            <button class="btn btn-link" ui-sref="clients.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
            <button class="btn btn-link" ui-sref="clients.edit({clientId:$resolve.clientId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
            <button class="btn btn-link" ng-click="$ctrl.deleteClient($resolve.client)"><i class="fa fa-trash fa-lg text-danger"></i></button>
            </h1>
          </div>
        </div>

        <div class="col-sm-12 jumbotron "style="background-color:rgb(250,250,250)">

            <form >
              <div class="col-sm-6">
                <label for="name" >Company Name</label>
                <input type="text" class="form-control" id="name" ng-model="$resolve.client.name"ng-disabled="true">
              </div>
              <div class="col-sm-6">
                <label for="id" >Company Id</label>
                <input type="text" class="form-control" id="id" ng-model="$resolve.client.id"ng-disabled="true">
              </div>
              <div class="col-sm-12">
                <label for="description"style="padding-top:8px">Company Description</label>
                <textarea type="text" class="form-control"  id="description" ng-model="$resolve.client.description" ng-disabled="true"></textarea>

              </div>
              <div class="col-sm-6">
                <label for="weburl"style="padding-top:8px">Weburl</label>
                <input type="text" class="form-control"  id="weburl" ng-model="$resolve.client.weburl" ng-disabled="true">

              </div>
              <div class="col-sm-6">
                <label for="companysize"style="padding-top:8px">Company size</label>
                <input type="text" class="form-control"  id="companysize" ng-model="$resolve.client.companysize"ng-disabled="true" >

              </div>
              <div class="col-sm-6">
                <label for="industry"style="padding-top:8px">Industry</label>
                <input type="text" class="form-control"  id="industry" ng-model="$resolve.client.industry" ng-disabled="true">

              </div>
              <div class="col-sm-6">
                <label for="year"style="padding-top:8px">Year</label>
                <input type="number" class="form-control"  id="year" ng-model="$resolve.client.year"ng-disabled="true" >

              </div>
              <div class="col-sm-6">
                <label for="companytype"style="padding-top:8px">Company type</label>
                <input type="text" class="form-control"  id="companytype" ng-model="$resolve.client.companytype"ng-disabled="true" >
              </div>
              <div class="col-sm-6">
                <label for="location"style="padding-top:8px">Location</label>
                <input type="text" class="form-control"  id="location" ng-model="$resolve.client.location" ng-disabled="true">

              </div>
            </form>

    </div>
  </div>
