<div class="container-fluid">
  <div class="row"> 
    <div class="col-sm-6">
      <h1 class="text-right"> Departments <span class="badge"> {{$ctrl.departments.length}}</span></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="departments.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  <div class="row" class="jumbotron">
    <div class="col-sm-3" ng-repeat="departments in $ctrl.departments">
      <div class=" panel panel-default">
        <div class="text-center panel-heading">
          <h3 class="text-capitalize text-primary">{{departments.name}}</h3>
          </div>
        <div class="text-center panel-body">
        <h3 style="color:red;">id:</h3><p class="lead">{{departments.id}}</p>
        <h3 style="color:red;">summary:</h3><p class="lead">{{departments.summary}}</p>
        </div>
        <div class="text-center panel-footer">
          <a class="btn btn-link" ui-sref="departments.info({departmentsId:  departments._id})"  uib-tooltip="{{departments.name}}">Info</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="!$ctrl.departments.length">
  <div class="row text-center">
    <h1 class="text warning">Oops!</h1>
    <p class="text-muted lead">No data to display.</h1>
    </div>
  </div>
</div>
