
<div class="container">
  <h1>Requirements page</h1>
  <p class="lead">{{$ctrl.requirements.status}}</p>
  <p class="">{{$ctrl.requirements.message}}</p>
</div>


<div class=container>
  <form class="thing-form">
    <label>Add a module</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="name here..." ng-model="$ctrl.newModule.name">
      <input type="text" class="form-control" placeholder="id here." ng-model="$ctrl.newModule.moduleId">
      <span class="input-group-btn">
        <h1></h1>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addModule()">Add New</button>
      </span>
    </p>
  </form>
</div>
