<div class="container-fluid">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <h1> <strong class="text-capitalize">{{$resolve.holiday.title}}</strong></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="holiday.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ui-sref="holiday.edit({holidayId: $resolve.holiday._id})"><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteHoliday($resolve.holiday)"><i class="fa fa-trash fa-lg text-danger"></i></button>
        </div>
      </h1>
    </div>
  </div>
<div class="col-sm-12"></div>
<form>
  <div class="col-sm-6">
   <label for="title" ng-init="$ctrl.convertDate($resolve.holiday.date)">Date</label>
   <input type="date"  class="form-control" id="date" ng-model="$ctrl.holiday.date" ng-disabled="true">
   <p class="help-block">Select date </p>
  </div>
  <div class="col-sm-6">
    <label for="Holiday">Name of Holiday</label>
    <input type="text" class="form-control" id="title" ng-model="$resolve.holiday.title" ng-disabled="true">

  </div>
  <div class="col-sm-12">
    <label for="summary">Summary</label>
    <textarea type="text" class="form-control"  id="summary" ng-model="$resolve.holiday.summary" ng-disabled="true"></textarea>
  </div>
</div>
